<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#데이터-준비와-전처리" data-toc-modified-id="데이터-준비와-전처리-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>데이터 준비와 전처리</a></span><ul class="toc-item"><li><span><a href="#인덱싱" data-toc-modified-id="인덱싱-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>인덱싱</a></span></li></ul></li><li><span><a href="#분석하기" data-toc-modified-id="분석하기-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>분석하기</a></span></li><li><span><a href="#내가-선호하는-영화를-5가지-골라서-rating에-추가해주기" data-toc-modified-id="내가-선호하는-영화를-5가지-골라서-rating에-추가해주기-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>내가 선호하는 영화를 5가지 골라서 rating에 추가해주기</a></span></li><li><span><a href="#CSR-matrix를-직접-만들어-보기" data-toc-modified-id="CSR-matrix를-직접-만들어-보기-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>CSR matrix를 직접 만들어 보기</a></span></li><li><span><a href="#als_model-=-AlternatingLeastSquares-모델을-직접-구성하여-훈련시켜-보기" data-toc-modified-id="als_model-=-AlternatingLeastSquares-모델을-직접-구성하여-훈련시켜-보기-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>als_model = AlternatingLeastSquares 모델을 직접 구성하여 훈련시켜 보기</a></span></li><li><span><a href="#내가-선호하는-5가지-영화-중-하나와-그-외의-영화-하나를-골라-훈련된-모델이-예측한-나의-선호도를-파악하기" data-toc-modified-id="내가-선호하는-5가지-영화-중-하나와-그-외의-영화-하나를-골라-훈련된-모델이-예측한-나의-선호도를-파악하기-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>내가 선호하는 5가지 영화 중 하나와 그 외의 영화 하나를 골라 훈련된 모델이 예측한 나의 선호도를 파악하기</a></span></li><li><span><a href="#내가-좋아하는-영화와-비슷한-영화를-추천받아-보기" data-toc-modified-id="내가-좋아하는-영화와-비슷한-영화를-추천받아-보기-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>내가 좋아하는 영화와 비슷한 영화를 추천받아 보기</a></span></li><li><span><a href="#내가-가장-좋아할-만한-영화들을-추천받아-보기" data-toc-modified-id="내가-가장-좋아할-만한-영화들을-추천받아-보기-8"><span class="toc-item-num">8&nbsp;&nbsp;</span>내가 가장 좋아할 만한 영화들을 추천받아 보기</a></span></li><li><span><a href="#마치며" data-toc-modified-id="마치며-9"><span class="toc-item-num">9&nbsp;&nbsp;</span>마치며</a></span></li></ul></div>

## 데이터 준비와 전처리

In [1]:
import os
import numpy as np
import pandas as pd
from tqdm import tqdm_notebook

In [2]:
rating_file_path=os.getenv('HOME') + '/aiffel/recommendata_iu/data/ml-1m/ratings.dat'
ratings_cols = ['user_id', 'movie_id', 'rating', 'timestamp']
ratings = pd.read_csv(rating_file_path, sep='::', names=ratings_cols, engine='python')
original_data_size = len(ratings)
ratings.head()

   user_id  movie_id  rating  timestamp
0        1      1193       5  978300760
1        1       661       3  978302109
2        1       914       3  978301968
3        1      3408       4  978300275
4        1      2355       5  978824291

In [3]:
# 3점 이상만 남기기
ratings = ratings[ratings['rating']>=3]
filtered_data_size = len(ratings)

print(f'original_data_size: {original_data_size}, filtered_data_size: {filtered_data_size}')
print(f'Ratio of Remaining Data is {filtered_data_size / original_data_size:.2%}')

original_data_size: 1000209, filtered_data_size: 836478
Ratio of Remaining Data is 83.63%

In [4]:
# rating 컬럼의 이름을 count로 바꾸기
ratings.rename(columns={'rating':'count'}, inplace=True)
ratings.head()

   user_id  movie_id  count  timestamp
0        1      1193      5  978300760
1        1       661      3  978302109
2        1       914      3  978301968
3        1      3408      4  978300275
4        1      2355      5  978824291

In [5]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 836478 entries, 0 to 1000208
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   user_id    836478 non-null  int64
 1   movie_id   836478 non-null  int64
 2   count      836478 non-null  int64
 3   timestamp  836478 non-null  int64
dtypes: int64(4)
memory usage: 31.9 MB

In [6]:
# 영화 제목을 보기 위해서 메타 데이터 읽어오기
movie_file_path=os.getenv('HOME') + '/aiffel/recommendata_iu/data/ml-1m/movies.dat'
cols = ['movie_id', 'title', 'genre']
movies = pd.read_csv(movie_file_path, sep='::', names=cols, engine='python')
movies.head()

   movie_id                               title                         genre
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy

In [7]:
movies[movies['movie_id']==661]

     movie_id                             title                         genre
655       661  James and the Giant Peach (1996)  Animation|Children's|Musical

In [8]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3883 entries, 0 to 3882
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   movie_id  3883 non-null   int64
 1   title     3883 non-null   object
 2   genre     3883 non-null   object
dtypes: int64(1), object(2)
memory usage: 91.1+ KB

### 인덱싱

In [9]:
# 유저, 영화로 배열 만들어주기
user_unique = ratings['user_id'].unique()
user_unique

array([   1,    2,    3, ..., 6038, 6039, 6040])

In [10]:
movie_unique = ratings['movie_id'].unique()
movie_unique

array([1193,  661,  914, ...,  690, 2909, 1360])

In [11]:
movies.head()

   movie_id                               title                         genre
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy

In [12]:
# 개수 확인하기
print(movies['movie_id'].nunique())
print(movies['title'].nunique())
print(movies['genre'].nunique())

3883
3883
301

In [13]:
# 배열 만들기
movie_unique = movies['movie_id'].unique()
print(movie_unique)
title_unique = movies['title'].unique()
print(title_unique)

[   1    2    3 ... 3950 3951 3952]
['Toy Story (1995)' 'Jumanji (1995)' 'Grumpier Old Men (1995)' ...
 'Tigerland (2000)' 'Two Family House (2000)' 'Contender, The (2000)']

In [14]:
# movie_id와 title로 인덱싱 해주기
id_to_title = {i:j for i, j in zip(movie_unique, title_unique)}
id_to_title

{1: 'Toy Story (1995)',
 2: 'Jumanji (1995)',
 3: 'Grumpier Old Men (1995)',
 4: 'Waiting to Exhale (1995)',
 5: 'Father of the Bride Part II (1995)',
 6: 'Heat (1995)',
 7: 'Sabrina (1995)',
 8: 'Tom and Huck (1995)',
 9: 'Sudden Death (1995)',
 10: 'GoldenEye (1995)',
 11: 'American President, The (1995)',
 12: 'Dracula: Dead and Loving It (1995)',
 13: 'Balto (1995)',
 14: 'Nixon (1995)',
 15: 'Cutthroat Island (1995)',
 16: 'Casino (1995)',
 17: 'Sense and Sensibility (1995)',
 18: 'Four Rooms (1995)',
 19: 'Ace Ventura: When Nature Calls (1995)',
 20: 'Money Train (1995)',
 21: 'Get Shorty (1995)',
 22: 'Copycat (1995)',
 23: 'Assassins (1995)',
 24: 'Powder (1995)',
 25: 'Leaving Las Vegas (1995)',
 26: 'Othello (1995)',
 27: 'Now and Then (1995)',
 28: 'Persuasion (1995)',
 29: 'City of Lost Children, The (1995)',
 30: 'Shanghai Triad (Yao a yao yao dao waipo qiao) (1995)',
 31: 'Dangerous Minds (1995)',
 32: 'Twelve Monkeys (1995)',
 33: 'Wings of Courage (1995)',
 34: 'Babe (1995)',
 35: 'Carrington (1995)',
 36: 'Dead Man Walking (1995)',
 37: 'Across the Sea of Time (1995)',
 38: 'It Takes Two (1995)',
 39: 'Clueless (1995)',
 40: 'Cry, the Beloved Country (1995)',
 41: 'Richard III (1995)',
 42: 'Dead Presidents (1995)',
 43: 'Restoration (1995)',
 44: 'Mortal Kombat (1995)',
 45: 'To Die For (1995)',
 46: 'How to Make an American Quilt (1995)',
 47: 'Seven (Se7en) (1995)',
 48: 'Pocahontas (1995)',
 49: 'When Night Is Falling (1995)',
 50: 'Usual Suspects, The (1995)',
 51: 'Guardian Angel (1994)',
 52: 'Mighty Aphrodite (1995)',
 53: 'Lamerica (1994)',
 54: 'Big Green, The (1995)',
 55: 'Georgia (1995)',
 56: 'Kids of the Round Table (1995)',
 57: 'Home for the Holidays (1995)',
 58: 'Postino, Il (The Postman) (1994)',
 59: 'Confessional, The (Le Confessionnal) (1995)',
 60: 'Indian in the Cupboard, The (1995)',
 61: 'Eye for an Eye (1996)',
 62: "Mr. Holland's Opus (1995)",
 63: "Don't Be a Menace to South Central While Drinking Your Juice in the Hood (1996)",
 64: 'Two if by Sea (1996)',
 65: 'Bio-Dome (1996)',
 66: 'Lawnmower Man 2: Beyond Cyberspace (1996)',
 67: 'Two Bits (1995)',
 68: 'French Twist (Gazon maudit) (1995)',
 69: 'Friday (1995)',
 70: 'From Dusk Till Dawn (1996)',
 71: 'Fair Game (1995)',
 72: 'Kicking and Screaming (1995)',
 73: 'Mis�rables, Les (1995)',
 74: 'Bed of Roses (1996)',
 75: 'Big Bully (1996)',
 76: 'Screamers (1995)',
 77: 'Nico Icon (1995)',
 78: 'Crossing Guard, The (1995)',
 79: 'Juror, The (1996)',
 80: 'White Balloon, The (Badkonake Sefid ) (1995)',
 81: "Things to Do in Denver when You're Dead (1995)",
 82: "Antonia's Line (Antonia) (1995)",
 83: 'Once Upon a Time... When We Were Colored (1995)',
 84: 'Last Summer in the Hamptons (1995)',
 85: 'Angels and Insects (1995)',
 86: 'White Squall (1996)',
 87: 'Dunston Checks In (1996)',
 88: 'Black Sheep (1996)',
 89: 'Nick of Time (1995)',
 90: 'Journey of August King, The (1995)',
 92: 'Mary Reilly (1996)',
 93: 'Vampire in Brooklyn (1995)',
 94: 'Beautiful Girls (1996)',
 95: 'Broken Arrow (1996)',
 96: 'In the Bleak Midwinter (1995)',
 97: 'Hate (Haine, La) (1995)',
 98: 'Shopping (1994)',
 99: 'Heidi Fleiss: Hollywood Madam (1995)',
 100: 'City Hall (1996)',
 101: 'Bottle Rocket (1996)',
 102: 'Mr. Wrong (1996)',
 103: 'Unforgettable (1996)',
 104: 'Happy Gilmore (1996)',
 105: 'Bridges of Madison County, The (1995)',
 106: 'Nobody Loves Me (Keiner liebt mich) (1994)',
 107: 'Muppet Treasure Island (1996)',
 108: 'Catwalk (1995)',
 109: 'Headless Body in Topless Bar (1995)',
 110: 'Braveheart (1995)',
 111: 'Taxi Driver (1976)',
 112: 'Rumble in the Bronx (1995)',
 113: 'Before and After (1996)',
 114: "Margaret's Museum (1995)",
 115: 'Happiness Is in the Field (1995)',
 116: 'Anne Frank Remembered (1995)',
 117: "Young Poisoner's Handbook, The (1995)",
 118: 'If Lucy Fell (1996)',
 119: 'Steal Big, Steal Little (1995)',
 120: 'Race the Sun (1996)',
 121: 'Boys of St. Vincent, The (1993)',
 122: 'Boomerang (1992)',
 123: 'Chungking Express (1994)',
 124: "Star Maker, The (Uomo delle stelle, L') (1995)",
 125: 'Flirting With Disaster (1996)',
 126: 'NeverEnding Story III, The (1994)',
 127: 'Silence of the Palace, The (Saimt el Qusur) (1994)',
 128: "Jupiter's Wife (1994)",
 129: 'Pie in the Sky (1995)',
 130: 'Angela (1995)',
 131: 'Frankie Starlight (1995)',
 132: 'Jade (1995)',
 133: 'Nueba Yol (1995)',
 134: 'Sonic Outlaws (1995)',
 135: 'Down Periscope (1996)',
 136: 'From the Journals of Jean Seberg (1995)',
 137: 'Man of the Year (1995)',
 138: 'Neon Bible, The (1995)',
 139: 'Target (1995)',
 140: 'Up Close and Personal (1996)',
 141: 'Birdcage, The (1996)',
 142: 'Shadows (Cienie) (1988)',
 143: 'Gospa (1995)',
 144: 'Brothers McMullen, The (1995)',
 145: 'Bad Boys (1995)',
 146: 'Amazing Panda Adventure, The (1995)',
 147: 'Basketball Diaries, The (1995)',
 148: 'Awfully Big Adventure, An (1995)',
 149: 'Amateur (1994)',
 150: 'Apollo 13 (1995)',
 151: 'Rob Roy (1995)',
 152: 'Addiction, The (1995)',
 153: 'Batman Forever (1995)',
 154: 'Belle de jour (1967)',
 155: 'Beyond Rangoon (1995)',
 156: 'Blue in the Face (1995)',
 157: 'Canadian Bacon (1994)',
 158: 'Casper (1995)',
 159: 'Clockers (1995)',
 160: 'Congo (1995)',
 161: 'Crimson Tide (1995)',
 162: 'Crumb (1994)',
 163: 'Desperado (1995)',
 164: 'Devil in a Blue Dress (1995)',
 165: 'Die Hard: With a Vengeance (1995)',
 166: 'Doom Generation, The (1995)',
 167: 'Feast of July (1995)',
 168: 'First Knight (1995)',
 169: 'Free Willy 2: The Adventure Home (1995)',
 170: 'Hackers (1995)',
 171: 'Jeffrey (1995)',
 172: 'Johnny Mnemonic (1995)',
 173: 'Judge Dredd (1995)',
 174: 'Jury Duty (1995)',
 175: 'Kids (1995)',
 176: 'Living in Oblivion (1995)',
 177: 'Lord of Illusions (1995)',
 178: 'Love & Human Remains (1993)',
 179: 'Mad Love (1995)',
 180: 'Mallrats (1995)',
 181: 'Mighty Morphin Power Rangers: The Movie (1995)',
 182: 'Moonlight and Valentino (1995)',
 183: 'Mute Witness (1994)',
 184: 'Nadja (1994)',
 185: 'Net, The (1995)',
 186: 'Nine Months (1995)',
 187: 'Party Girl (1995)',
 188: 'Prophecy, The (1995)',
 189: 'Reckless (1995)',
 190: 'Safe (1995)',
 191: 'Scarlet Letter, The (1995)',
 192: 'Show, The (1995)',
 193: 'Showgirls (1995)',
 194: 'Smoke (1995)',
 195: 'Something to Talk About (1995)',
 196: 'Species (1995)',
 197: 'Stars Fell on Henrietta, The (1995)',
 198: 'Strange Days (1995)',
 199: 'Umbrellas of Cherbourg, The (Parapluies de Cherbourg, Les) (1964)',
 200: 'Tie That Binds, The (1995)',
 201: 'Three Wishes (1995)',
 202: 'Total Eclipse (1995)',
 203: 'To Wong Foo, Thanks for Everything! Julie Newmar (1995)',
 204: 'Under Siege 2: Dark Territory (1995)',
 205: 'Unstrung Heroes (1995)',
 206: 'Unzipped (1995)',
 207: 'Walk in the Clouds, A (1995)',
 208: 'Waterworld (1995)',
 209: "White Man's Burden (1995)",
 210: 'Wild Bill (1995)',
 211: 'Browning Version, The (1994)',
 212: 'Bushwhacked (1995)',
 213: 'Burnt By the Sun (Utomlyonnye solntsem) (1994)',
 214: 'Before the Rain (Pred dozhdot) (1994)',
 215: 'Before Sunrise (1995)',
 216: 'Billy Madison (1995)',
 217: 'Babysitter, The (1995)',
 218: 'Boys on the Side (1995)',
 219: 'Cure, The (1995)',
 220: 'Castle Freak (1995)',
 222: 'Circle of Friends (1995)',
 223: 'Clerks (1994)',
 224: 'Don Juan DeMarco (1995)',
 225: 'Disclosure (1994)',
 226: 'Dream Man (1995)',
 227: 'Drop Zone (1994)',
 228: 'Destiny Turns on the Radio (1995)',
 229: 'Death and the Maiden (1994)',
 230: 'Dolores Claiborne (1994)',
 231: 'Dumb & Dumber (1994)',
 232: 'Eat Drink Man Woman (1994)',
 233: 'Exotica (1994)',
 234: 'Exit to Eden (1994)',
 235: 'Ed Wood (1994)',
 236: 'French Kiss (1995)',
 237: 'Forget Paris (1995)',
 238: 'Far From Home: The Adventures of Yellow Dog (1995)',
 239: 'Goofy Movie, A (1995)',
 240: 'Hideaway (1995)',
 241: 'Fluke (1995)',
 242: 'Farinelli: il castrato (1994)',
 243: 'Gordy (1995)',
 244: 'Gumby: The Movie (1995)',
 245: 'Glass Shield, The (1994)',
 246: 'Hoop Dreams (1994)',
 247: 'Heavenly Creatures (1994)',
 248: 'Houseguest (1994)',
 249: 'Immortal Beloved (1994)',
 250: 'Heavyweights (1994)',
 251: 'Hunted, The (1995)',
 252: 'I.Q. (1994)',
 253: 'Interview with the Vampire (1994)',
 254: 'Jefferson in Paris (1995)',
 255: 'Jerky Boys, The (1994)',
 256: 'Junior (1994)',
 257: 'Just Cause (1995)',
 258: "Kid in King Arthur's Court, A (1995)",
 259: 'Kiss of Death (1995)',
 260: 'Star Wars: Episode IV - A New Hope (1977)',
 261: 'Little Women (1994)',
 262: 'Little Princess, A (1995)',
 263: 'Ladybird Ladybird (1994)',
 264: "Enfer, L' (1994)",
 265: 'Like Water for Chocolate (Como agua para chocolate) (1992)',
 266: 'Legends of the Fall (1994)',
 267: 'Major Payne (1994)',
 268: 'Little Odessa (1994)',
 269: 'My Crazy Life (Mi vida loca) (1993)',
 270: 'Love Affair (1994)',
 271: 'Losing Isaiah (1995)',
 272: 'Madness of King George, The (1994)',
 273: "Mary Shelley's Frankenstein (1994)",
 274: 'Man of the House (1995)',
 275: 'Mixed Nuts (1994)',
 276: 'Milk Money (1994)',
 277: 'Miracle on 34th Street (1994)',
 278: 'Miami Rhapsody (1995)',
 279: 'My Family (1995)',
 280: 'Murder in the First (1995)',
 281: "Nobody's Fool (1994)",
 282: 'Nell (1994)',
 283: 'New Jersey Drive (1995)',
 284: 'New York Cop (1996)',
 285: 'Beyond Bedlam (1993)',
 286: 'Nemesis 2: Nebula (1995)',
 287: 'Nina Takes a Lover (1994)',
 288: 'Natural Born Killers (1994)',
 289: 'Only You (1994)',
 290: 'Once Were Warriors (1994)',
 291: 'Poison Ivy II (1995)',
 292: 'Outbreak (1995)',
 293: 'Professional, The (a.k.a. Leon: The Professional) (1994)',
 294: 'Perez Family, The (1995)',
 295: "Pyromaniac's Love Story, A (1995)",
 296: 'Pulp Fiction (1994)',
 297: 'Panther (1995)',
 298: 'Pushing Hands (1992)',
 299: 'Priest (1994)',
 300: 'Quiz Show (1994)',
 301: 'Picture Bride (1995)',
 302: 'Queen Margot (La Reine Margot) (1994)',
 303: 'Quick and the Dead, The (1995)',
 304: 'Roommates (1995)',
 305: 'Ready to Wear (Pret-A-Porter) (1994)',
 306: 'Three Colors: Red (1994)',
 307: 'Three Colors: Blue (1993)',
 308: 'Three Colors: White (1994)',
 309: 'Red Firecracker, Green Firecracker (1994)',
 310: 'Rent-a-Kid (1995)',
 311: 'Relative Fear (1994)',
 312: 'Stuart Saves His Family (1995)',
 313: 'Swan Princess, The (1994)',
 314: 'Secret of Roan Inish, The (1994)',
 315: 'Specialist, The (1994)',
 316: 'Stargate (1994)',
 317: 'Santa Clause, The (1994)',
 318: 'Shawshank Redemption, The (1994)',
 319: 'Shallow Grave (1994)',
 320: 'Suture (1993)',
 321: 'Strawberry and Chocolate (Fresa y chocolate) (1993)',
 322: 'Swimming with Sharks (1995)',
 324: 'Sum of Us, The (1994)',
 325: "National Lampoon's Senior Trip (1995)",
 326: 'To Live (Huozhe) (1994)',
 327: 'Tank Girl (1995)',
 328: 'Tales From the Crypt Presents: Demon Knight (1995)',
 329: 'Star Trek: Generations (1994)',
 330: 'Tales from the Hood (1995)',
 331: 'Tom & Viv (1994)',
 332: 'Village of the Damned (1995)',
 333: 'Tommy Boy (1995)',
 334: 'Vanya on 42nd Street (1994)',
 335: 'Underneath, The (1995)',
 336: 'Walking Dead, The (1995)',
 337: "What's Eating Gilbert Grape (1993)",
 338: 'Virtuosity (1995)',
 339: 'While You Were Sleeping (1995)',
 340: 'War, The (1994)',
 341: 'Double Happiness (1994)',
 342: "Muriel's Wedding (1994)",
 343: 'Baby-Sitters Club, The (1995)',
 344: 'Ace Ventura: Pet Detective (1994)',
 345: 'Adventures of Priscilla, Queen of the Desert, The (1994)',
 346: 'Backbeat (1993)',
 347: 'Bitter Moon (1992)',
 348: 'Bullets Over Broadway (1994)',
 349: 'Clear and Present Danger (1994)',
 350: 'Client, The (1994)',
 351: 'Corrina, Corrina (1994)',
 352: 'Crooklyn (1994)',
 353: 'Crow, The (1994)',
 354: 'Cobb (1994)',
 355: 'Flintstones, The (1994)',
 356: 'Forrest Gump (1994)',
 357: 'Four Weddings and a Funeral (1994)',
 358: 'Higher Learning (1995)',
 359: 'I Like It Like That (1994)',
 360: 'I Love Trouble (1994)',
 361: 'It Could Happen to You (1994)',
 362: 'Jungle Book, The (1994)',
 363: 'Wonderful, Horrible Life of Leni Riefenstahl, The (Die Macht der Bilder) (1993)',
 364: 'Lion King, The (1994)',
 365: 'Little Buddha (1993)',
 366: "Wes Craven's New Nightmare (1994)",
 367: 'Mask, The (1994)',
 368: 'Maverick (1994)',
 369: 'Mrs. Parker and the Vicious Circle (1994)',
 370: 'Naked Gun 33 1/3: The Final Insult (1994)',
 371: 'Paper, The (1994)',
 372: 'Reality Bites (1994)',
 373: 'Red Rock West (1992)',
 374: 'Richie Rich (1994)',
 375: 'Safe Passage (1994)',
 376: 'River Wild, The (1994)',
 377: 'Speed (1994)',
 378: 'Speechless (1994)',
 379: 'Timecop (1994)',
 380: 'True Lies (1994)',
 381: 'When a Man Loves a Woman (1994)',
 382: 'Wolf (1994)',
 383: 'Wyatt Earp (1994)',
 384: 'Bad Company (1995)',
 385: 'Man of No Importance, A (1994)',
 386: 'S.F.W. (1994)',
 387: 'Low Down Dirty Shame, A (1994)',
 388: 'Boys Life (1995)',
 389: 'Colonel Chabert, Le (1994)',
 390: 'Faster Pussycat! Kill! Kill! (1965)',
 391: "Jason's Lyric (1994)",
 392: 'Secret Adventures of Tom Thumb, The (1993)',
 393: 'Street Fighter (1994)',
 394: 'Coldblooded (1995)',
 395: 'Desert Winds (1995)',
 396: 'Fall Time (1995)',
 397: 'Fear, The (1995)',
 398: 'Frank and Ollie (1995)',
 399: 'Girl in the Cadillac (1995)',
 400: 'Homage (1995)',
 401: 'Mirage (1995)',
 402: 'Open Season (1996)',
 403: 'Two Crimes (1995)',
 404: 'Brother Minister: The Assassination of Malcolm X (1994)',
 405: 'Highlander III: The Sorcerer (1994)',
 406: 'Federal Hill (1994)',
 407: 'In the Mouth of Madness (1995)',
 408: '8 Seconds (1994)',
 409: 'Above the Rim (1994)',
 410: 'Addams Family Values (1993)',
 411: 'You So Crazy (1994)',
 412: 'Age of Innocence, The (1993)',
 413: 'Airheads (1994)',
 414: 'Air Up There, The (1994)',
 415: 'Another Stakeout (1993)',
 416: 'Bad Girls (1994)',
 417: 'Barcelona (1994)',
 418: 'Being Human (1993)',
 419: 'Beverly Hillbillies, The (1993)',
 420: 'Beverly Hills Cop III (1994)',
 421: 'Black Beauty (1994)',
 422: 'Blink (1994)',
 423: 'Blown Away (1994)',
 424: 'Blue Chips (1994)',
 425: 'Blue Sky (1994)',
 426: 'Body Snatchers (1993)',
 427: 'Boxing Helena (1993)',
 428: 'Bronx Tale, A (1993)',
 429: 'Cabin Boy (1994)',
 430: 'Calendar Girl (1993)',
 431: "Carlito's Way (1993)",
 432: "City Slickers II: The Legend of Curly's Gold (1994)",
 433: 'Clean Slate (1994)',
 434: 'Cliffhanger (1993)',
 435: 'Coneheads (1993)',
 436: 'Color of Night (1994)',
 437: 'Cops and Robbersons (1994)',
 438: 'Cowboy Way, The (1994)',
 439: 'Dangerous Game (1993)',
 440: 'Dave (1993)',
 441: 'Dazed and Confused (1993)',
 442: 'Demolition Man (1993)',
 443: 'Endless Summer 2, The (1994)',
 444: 'Even Cowgirls Get the Blues (1993)',
 445: 'Fatal Instinct (1993)',
 446: 'Farewell My Concubine (1993)',
 447: 'Favor, The (1994)',
 448: 'Fearless (1993)',
 449: 'Fear of a Black Hat (1993)',
 450: 'With Honors (1994)',
 451: 'Flesh and Bone (1993)',
 452: "Widows' Peak (1994)",
 453: 'For Love or Money (1993)',
 454: 'Firm, The (1993)',
 455: 'Free Willy (1993)',
 456: 'Fresh (1994)',
 457: 'Fugitive, The (1993)',
 458: 'Geronimo: An American Legend (1993)',
 459: 'Getaway, The (1994)',
 460: 'Getting Even with Dad (1994)',
 461: 'Go Fish (1994)',
 462: 'Good Man in Africa, A (1994)',
 463: 'Guilty as Sin (1993)',
 464: 'Hard Target (1993)',
 465: 'Heaven & Earth (1993)',
 466: 'Hot Shots! Part Deux (1993)',
 467: 'Live Nude Girls (1995)',
 468: 'Englishman Who Went Up a Hill, But Came Down a Mountain, The (1995)',
 469: 'House of the Spirits, The (1993)',
 470: 'House Party 3 (1994)',
 471: 'Hudsucker Proxy, The (1994)',
 472: "I'll Do Anything (1994)",
 473: 'In the Army Now (1994)',
 474: 'In the Line of Fire (1993)',
 475: 'In the Name of the Father (1993)',
 476: 'Inkwell, The (1994)',
 477: "What's Love Got to Do with It? (1993)",
 478: 'Jimmy Hollywood (1994)',
 479: 'Judgment Night (1993)',
 480: 'Jurassic Park (1993)',
 481: 'Kalifornia (1993)',
 482: 'Killing Zoe (1994)',
 483: 'King of the Hill (1993)',
 484: 'Lassie (1994)',
 485: 'Last Action Hero (1993)',
 486: 'Life with Mikey (1993)',
 487: 'Lightning Jack (1994)',
 488: 'M. Butterfly (1993)',
 489: 'Made in America (1993)',
 490: 'Malice (1993)',
 491: 'Man Without a Face, The (1993)',
 492: 'Manhattan Murder Mystery (1993)',
 493: 'Menace II Society (1993)',
 494: 'Executive Decision (1996)',
 495: 'In the Realm of the Senses (Ai no corrida) (1976)',
 496: 'What Happened Was... (1994)',
 497: 'Much Ado About Nothing (1993)',
 498: 'Mr. Jones (1993)',
 499: 'Mr. Wonderful (1993)',
 500: 'Mrs. Doubtfire (1993)',
 501: 'Naked (1993)',
 502: 'Next Karate Kid, The (1994)',
 503: 'New Age, The (1994)',
 504: 'No Escape (1994)',
 505: 'North (1994)',
 506: 'Orlando (1993)',
 507: 'Perfect World, A (1993)',
 508: 'Philadelphia (1993)',
 509: 'Piano, The (1993)',
 510: 'Poetic Justice (1993)',
 511: 'Program, The (1993)',
 512: "Robert A. Heinlein's The Puppet Masters (1994)",
 513: 'Radioland Murders (1994)',
 514: 'Ref, The (1994)',
 515: 'Remains of the Day, The (1993)',
 516: 'Renaissance Man (1994)',
 517: 'Rising Sun (1993)',
 518: 'Road to Wellville, The (1994)',
 519: 'Robocop 3 (1993)',
 520: 'Robin Hood: Men in Tights (1993)',
 521: 'Romeo Is Bleeding (1993)',
 522: 'Romper Stomper (1992)',
 523: 'Ruby in Paradise (1993)',
 524: 'Rudy (1993)',
 525: 'Saint of Fort Washington, The (1993)',
 526: 'Savage Nights (Nuits fauves, Les) (1992)',
 527: "Schindler's List (1993)",
 528: 'Scout, The (1994)',
 529: 'Searching for Bobby Fischer (1993)',
 530: 'Second Best (1994)',
 531: 'Secret Garden, The (1993)',
 532: 'Serial Mom (1994)',
 533: 'Shadow, The (1994)',
 534: 'Shadowlands (1993)',
 535: 'Short Cuts (1993)',
 536: 'Simple Twist of Fate, A (1994)',
 537: 'Sirens (1994)',
 538: 'Six Degrees of Separation (1993)',
 539: 'Sleepless in Seattle (1993)',
 540: 'Sliver (1993)',
 541: 'Blade Runner (1982)',
 542: 'Son in Law (1993)',
 543: 'So I Married an Axe Murderer (1993)',
 544: 'Striking Distance (1993)',
 545: 'Harlem (1993)',
 546: 'Super Mario Bros. (1993)',
 547: 'Surviving the Game (1994)',
 548: 'Terminal Velocity (1994)',
 549: 'Thirty-Two Short Films About Glenn Gould (1993)',
 550: 'Threesome (1994)',
 551: 'Nightmare Before Christmas, The (1993)',
 552: 'Three Musketeers, The (1993)',
 553: 'Tombstone (1993)',
 554: 'Trial by Jury (1994)',
 555: 'True Romance (1993)',
 556: 'War Room, The (1993)',
 557: 'Mamma Roma (1962)',
 558: 'Pagemaster, The (1994)',
 559: 'Paris, France (1993)',
 560: 'Beans of Egypt, Maine, The (1994)',
 561: 'Killer (Bulletproof Heart) (1994)',
 562: 'Welcome to the Dollhouse (1995)',
 563: 'Germinal (1993)',
 564: 'Chasers (1994)',
 565: 'Cronos (1992)',
 566: 'Naked in New York (1994)',
 567: 'Kika (1993)',
 568: 'Bhaji on the Beach (1993)',
 569: 'Little Big League (1994)',
 570: 'Slingshot, The (K�disbellan ) (1993)',
 571: 'Wedding Gift, The (1994)',
 572: 'Foreign Student (1994)',
 573: 'Ciao, Professore! (Io speriamo che me la cavo ) (1993)',
 574: 'Spanking the Monkey (1994)',
 575: 'Little Rascals, The (1994)',
 576: 'Fausto (1993)',
 577: 'Andre (1994)',
 578: 'Hour of the Pig, The (1993)',
 579: 'Scorta, La (1993)',
 580: 'Princess Caraboo (1994)',
 581: 'Celluloid Closet, The (1995)',
 582: 'Metisse (Caf� au Lait) (1993)',
 583: 'Dear Diary (Caro Diario) (1994)',
 584: "I Don't Want to Talk About It (De eso no se habla) (1993)",
 585: 'Brady Bunch Movie, The (1995)',
 586: 'Home Alone (1990)',
 587: 'Ghost (1990)',
 588: 'Aladdin (1992)',
 589: 'Terminator 2: Judgment Day (1991)',
 590: 'Dances with Wolves (1990)',
 591: 'Tough and Deadly (1995)',
 592: 'Batman (1989)',
 593: 'Silence of the Lambs, The (1991)',
 594: 'Snow White and the Seven Dwarfs (1937)',
 595: 'Beauty and the Beast (1991)',
 596: 'Pinocchio (1940)',
 597: 'Pretty Woman (1990)',
 598: 'Window to Paris (1994)',
 599: 'Wild Bunch, The (1969)',
 600: 'Love and a .45 (1994)',
 601: "Wooden Man's Bride, The (Wu Kui) (1994)",
 602: 'Great Day in Harlem, A (1994)',
 603: 'Bye Bye, Love (1995)',
 604: 'Criminals (1996)',

In [15]:
# movie_id와 genre 인덱싱
df = movies[['movie_id', 'genre']]
id_to_genre = {k:v for k, v in zip(df.iloc[:, 0], df.iloc[:, 1])}
id_to_genre

{1: "Animation|Children's|Comedy",
 2: "Adventure|Children's|Fantasy",
 3: 'Comedy|Romance',
 4: 'Comedy|Drama',
 5: 'Comedy',
 6: 'Action|Crime|Thriller',
 7: 'Comedy|Romance',
 8: "Adventure|Children's",
 9: 'Action',
 10: 'Action|Adventure|Thriller',
 11: 'Comedy|Drama|Romance',
 12: 'Comedy|Horror',
 13: "Animation|Children's",
 14: 'Drama',
 15: 'Action|Adventure|Romance',
 16: 'Drama|Thriller',
 17: 'Drama|Romance',
 18: 'Thriller',
 19: 'Comedy',
 20: 'Action',
 21: 'Action|Comedy|Drama',
 22: 'Crime|Drama|Thriller',
 23: 'Thriller',
 24: 'Drama|Sci-Fi',
 25: 'Drama|Romance',
 26: 'Drama',
 27: 'Drama',
 28: 'Romance',
 29: 'Adventure|Sci-Fi',
 30: 'Drama',
 31: 'Drama',
 32: 'Drama|Sci-Fi',
 33: 'Adventure|Romance',
 34: "Children's|Comedy|Drama",
 35: 'Drama|Romance',
 36: 'Drama',
 37: 'Documentary',
 38: 'Comedy',
 39: 'Comedy|Romance',
 40: 'Drama',
 41: 'Drama|War',
 42: 'Action|Crime|Drama',
 43: 'Drama',
 44: 'Action|Adventure',
 45: 'Comedy|Drama',
 46: 'Drama|Romance',
 47: 'Crime|Thriller',
 48: "Animation|Children's|Musical|Romance",
 49: 'Drama|Romance',
 50: 'Crime|Thriller',
 51: 'Action|Drama|Thriller',
 52: 'Comedy',
 53: 'Drama',
 54: "Children's|Comedy",
 55: 'Drama',
 56: "Adventure|Children's|Fantasy",
 57: 'Drama',
 58: 'Drama|Romance',
 59: 'Drama|Mystery',
 60: "Adventure|Children's|Fantasy",
 61: 'Drama|Thriller',
 62: 'Drama',
 63: 'Comedy',
 64: 'Comedy|Romance',
 65: 'Comedy',
 66: 'Sci-Fi|Thriller',
 67: 'Drama',
 68: 'Comedy|Romance',
 69: 'Comedy',
 70: 'Action|Comedy|Crime|Horror|Thriller',
 71: 'Action',
 72: 'Comedy|Drama',
 73: 'Drama|Musical',
 74: 'Drama|Romance',
 75: 'Comedy|Drama',
 76: 'Sci-Fi|Thriller',
 77: 'Documentary',
 78: 'Drama',
 79: 'Drama|Thriller',
 80: 'Drama',
 81: 'Crime|Drama|Romance',
 82: 'Drama',
 83: 'Drama',
 84: 'Comedy|Drama',
 85: 'Drama|Romance',
 86: 'Adventure|Drama',
 87: "Children's|Comedy",
 88: 'Comedy',
 89: 'Action|Thriller',
 90: 'Drama',
 92: 'Drama|Thriller',
 93: 'Comedy|Romance',
 94: 'Drama',
 95: 'Action|Thriller',
 96: 'Comedy',
 97: 'Drama',
 98: 'Action|Thriller',
 99: 'Documentary',
 100: 'Drama|Thriller',
 101: 'Comedy',
 102: 'Comedy',
 103: 'Thriller',
 104: 'Comedy',
 105: 'Drama|Romance',
 106: 'Comedy|Drama',
 107: "Adventure|Children's|Comedy|Musical",
 108: 'Documentary',
 109: 'Comedy',
 110: 'Action|Drama|War',
 111: 'Drama|Thriller',
 112: 'Action|Adventure|Crime',
 113: 'Drama|Mystery',
 114: 'Drama',
 115: 'Comedy',
 116: 'Documentary',
 117: 'Crime',
 118: 'Comedy|Romance',
 119: 'Comedy',
 120: 'Drama',
 121: 'Drama',
 122: 'Comedy|Romance',
 123: 'Drama|Mystery|Romance',
 124: 'Drama',
 125: 'Comedy',
 126: "Adventure|Children's|Fantasy",
 127: 'Drama',
 128: 'Documentary',
 129: 'Comedy|Romance',
 130: 'Drama',
 131: 'Drama|Romance',
 132: 'Thriller',
 133: 'Comedy|Drama',
 134: 'Documentary',
 135: 'Comedy',
 136: 'Documentary',
 137: 'Documentary',
 138: 'Drama',
 139: 'Action|Drama',
 140: 'Drama|Romance',
 141: 'Comedy',
 142: 'Drama',
 143: 'Drama',
 144: 'Comedy',
 145: 'Action',
 146: "Adventure|Children's",
 147: 'Drama',
 148: 'Drama',
 149: 'Crime|Drama|Thriller',
 150: 'Drama',
 151: 'Drama|Romance|War',
 152: 'Horror',
 153: 'Action|Adventure|Comedy|Crime',
 154: 'Drama',
 155: 'Drama|War',
 156: 'Comedy',
 157: 'Comedy|War',
 158: "Adventure|Children's",
 159: 'Drama',
 160: 'Action|Adventure|Mystery|Sci-Fi',
 161: 'Drama|Thriller|War',
 162: 'Documentary',
 163: 'Action|Romance|Thriller',
 164: 'Crime|Film-Noir|Mystery|Thriller',
 165: 'Action|Thriller',
 166: 'Comedy|Drama',
 167: 'Drama',
 168: 'Action|Adventure|Drama|Romance',
 169: "Adventure|Children's|Drama",
 170: 'Action|Crime|Thriller',
 171: 'Comedy',
 172: 'Action|Sci-Fi|Thriller',
 173: 'Action|Adventure|Sci-Fi',
 174: 'Comedy',
 175: 'Drama',
 176: 'Comedy',
 177: 'Horror',
 178: 'Comedy',
 179: 'Drama|Romance',
 180: 'Comedy',
 181: "Action|Children's",
 182: 'Drama|Romance',
 183: 'Thriller',
 184: 'Drama',
 185: 'Sci-Fi|Thriller',
 186: 'Comedy',
 187: 'Comedy',
 188: 'Horror',
 189: 'Comedy',
 190: 'Thriller',
 191: 'Drama',
 192: 'Documentary',
 193: 'Drama',
 194: 'Drama',
 195: 'Comedy|Drama|Romance',
 196: 'Horror|Sci-Fi',
 197: 'Drama',
 198: 'Action|Crime|Sci-Fi',
 199: 'Drama|Musical',
 200: 'Thriller',
 201: 'Drama',
 202: 'Drama|Romance',
 203: 'Comedy',
 204: 'Action',
 205: 'Comedy|Drama',
 206: 'Documentary',
 207: 'Drama|Romance',
 208: 'Action|Adventure',
 209: 'Drama',
 210: 'Western',
 211: 'Drama',
 212: 'Comedy',
 213: 'Drama',
 214: 'Drama',
 215: 'Drama|Romance',
 216: 'Comedy',
 217: 'Drama|Thriller',
 218: 'Comedy|Drama',
 219: 'Drama',
 220: 'Horror',
 222: 'Drama|Romance',
 223: 'Comedy',
 224: 'Comedy|Drama|Romance',
 225: 'Drama|Thriller',
 226: 'Thriller',
 227: 'Action',
 228: 'Comedy',
 229: 'Drama|Thriller',
 230: 'Drama|Thriller',
 231: 'Comedy',
 232: 'Comedy|Drama',
 233: 'Drama',
 234: 'Comedy',
 235: 'Comedy|Drama',
 236: 'Comedy|Romance',
 237: 'Comedy|Romance',
 238: "Adventure|Children's",
 239: "Animation|Children's|Comedy|Romance",
 240: 'Thriller',
 241: "Children's|Drama",
 242: 'Drama|Musical',
 243: 'Comedy',
 244: "Animation|Children's",
 245: 'Crime|Drama',
 246: 'Documentary',
 247: 'Drama|Fantasy|Romance|Thriller',
 248: 'Comedy',
 249: 'Drama|Romance',
 250: "Children's|Comedy",
 251: 'Action',
 252: 'Comedy|Romance',
 253: 'Drama|Horror',
 254: 'Drama',
 255: 'Comedy',
 256: 'Comedy|Sci-Fi',
 257: 'Mystery|Thriller',
 258: "Adventure|Children's|Comedy|Fantasy|Romance",
 259: 'Crime|Drama|Thriller',
 260: 'Action|Adventure|Fantasy|Sci-Fi',
 261: 'Drama',
 262: "Children's|Drama",
 263: 'Drama',
 264: 'Drama',
 265: 'Drama|Romance',
 266: 'Drama|Romance|War|Western',
 267: 'Comedy',
 268: 'Drama',
 269: 'Drama',
 270: 'Drama|Romance',
 271: 'Drama',
 272: 'Drama',
 273: 'Drama|Horror',
 274: 'Comedy',
 275: 'Comedy',
 276: 'Comedy|Romance',
 277: 'Drama',
 278: 'Comedy',
 279: 'Drama',
 280: 'Drama|Thriller',
 281: 'Drama',
 282: 'Drama',
 283: 'Crime|Drama',
 284: 'Action|Crime',
 285: 'Drama|Horror',
 286: 'Action|Sci-Fi|Thriller',
 287: 'Comedy|Romance',
 288: 'Action|Thriller',
 289: 'Comedy|Romance',
 290: 'Crime|Drama',
 291: 'Thriller',
 292: 'Action|Drama|Thriller',
 293: 'Crime|Drama|Romance|Thriller',
 294: 'Comedy|Romance',
 295: 'Comedy|Romance',
 296: 'Crime|Drama',
 297: 'Drama',
 298: 'Comedy',
 299: 'Drama',
 300: 'Drama',
 301: 'Drama|Romance',
 302: 'Drama|Romance',
 303: 'Action|Adventure|Western',
 304: 'Comedy|Drama',
 305: 'Comedy',
 306: 'Drama',
 307: 'Drama',
 308: 'Drama',
 309: 'Drama',
 310: 'Comedy',
 311: 'Horror|Thriller',
 312: 'Comedy',
 313: "Animation|Children's",
 314: 'Drama',
 315: 'Action',
 316: 'Action|Adventure|Sci-Fi',
 317: "Children's|Comedy|Fantasy",
 318: 'Drama',
 319: 'Thriller',
 320: 'Film-Noir|Thriller',
 321: 'Drama',
 322: 'Comedy|Drama',
 324: 'Comedy',
 325: 'Comedy',
 326: 'Drama',
 327: 'Action|Comedy|Musical|Sci-Fi',
 328: 'Horror',
 329: 'Action|Adventure|Sci-Fi',
 330: 'Comedy|Horror',
 331: 'Drama',
 332: 'Horror|Sci-Fi',
 333: 'Comedy',
 334: 'Drama',
 335: 'Mystery|Thriller',
 336: 'Drama|War',
 337: 'Drama',
 338: 'Sci-Fi|Thriller',
 339: 'Comedy|Romance',
 340: 'Adventure|Drama',
 341: 'Drama',
 342: 'Comedy|Romance',
 343: "Children's",
 344: 'Comedy',
 345: 'Comedy|Drama',
 346: 'Drama|Musical',
 347: 'Drama',
 348: 'Comedy',
 349: 'Action|Adventure|Thriller',
 350: 'Drama|Mystery|Thriller',
 351: 'Comedy|Drama|Romance',
 352: 'Comedy',
 353: 'Action|Romance|Thriller',
 354: 'Drama',
 355: "Children's|Comedy",
 356: 'Comedy|Romance|War',
 357: 'Comedy|Romance',
 358: 'Drama',
 359: 'Comedy|Drama|Romance',
 360: 'Action|Comedy',
 361: 'Drama|Romance',
 362: "Adventure|Children's|Romance",
 363: 'Documentary',
 364: "Animation|Children's|Musical",
 365: 'Drama',
 366: 'Horror',
 367: 'Comedy|Crime|Fantasy',
 368: 'Action|Comedy|Western',
 369: 'Drama',
 370: 'Comedy',
 371: 'Comedy|Drama',
 372: 'Comedy|Drama',
 373: 'Thriller',
 374: "Children's|Comedy",
 375: 'Drama',
 376: 'Action|Thriller',
 377: 'Action|Romance|Thriller',
 378: 'Comedy|Romance',
 379: 'Action|Sci-Fi',
 380: 'Action|Adventure|Comedy|Romance',
 381: 'Drama',
 382: 'Drama|Horror',
 383: 'Western',
 384: 'Action',
 385: 'Drama',
 386: 'Drama',
 387: 'Action|Comedy',
 388: 'Drama',
 389: 'Drama|Romance|War',
 390: 'Action|Comedy|Drama',
 391: 'Crime|Drama',
 392: "Adventure|Children's",
 393: 'Action',
 394: 'Action',
 395: 'Drama',
 396: 'Drama',
 397: 'Horror',
 398: 'Documentary',
 399: 'Drama',
 400: 'Drama',
 401: 'Action|Thriller',
 402: 'Comedy',
 403: 'Comedy|Crime|Drama',
 404: 'Documentary',
 405: 'Action|Sci-Fi',
 406: 'Drama',
 407: 'Horror|Thriller',
 408: 'Drama',
 409: 'Drama',
 410: 'Comedy',
 411: 'Comedy',
 412: 'Drama',
 413: 'Comedy',
 414: 'Comedy',
 415: 'Comedy|Thriller',
 416: 'Western',
 417: 'Comedy|Romance',
 418: 'Drama',
 419: 'Comedy',
 420: 'Action|Comedy',
 421: "Adventure|Children's",
 422: 'Thriller',
 423: 'Action|Thriller',
 424: 'Drama',
 425: 'Drama|Romance',
 426: 'Horror|Sci-Fi|Thriller',
 427: 'Mystery|Romance|Thriller',
 428: 'Drama',
 429: 'Comedy',
 430: 'Drama',
 431: 'Crime|Drama',
 432: 'Comedy|Western',
 433: 'Comedy',
 434: 'Action|Adventure|Crime',
 435: 'Comedy|Sci-Fi',
 436: 'Drama|Thriller',
 437: 'Comedy',
 438: 'Action|Comedy',
 439: 'Drama',
 440: 'Comedy|Romance',
 441: 'Comedy',
 442: 'Action|Sci-Fi',
 443: 'Documentary',
 444: 'Comedy|Romance',
 445: 'Comedy',
 446: 'Drama|Romance',
 447: 'Comedy|Romance',
 448: 'Drama',
 449: 'Comedy',
 450: 'Comedy|Drama',
 451: 'Drama|Mystery|Romance',
 452: 'Drama',
 453: 'Comedy',
 454: 'Drama|Thriller',
 455: "Adventure|Children's|Drama",
 456: 'Drama',
 457: 'Action|Thriller',
 458: 'Drama|Western',
 459: 'Action',
 460: 'Comedy',
 461: 'Drama|Romance',
 462: 'Action|Adventure',
 463: 'Crime|Drama|Thriller',
 464: 'Action|Adventure|Crime|Thriller',
 465: 'Action|Drama|War',
 466: 'Action|Comedy|War',
 467: 'Comedy',
 468: 'Comedy|Romance',
 469: 'Drama|Romance',
 470: 'Comedy',
 471: 'Comedy|Romance',
 472: 'Comedy|Drama',
 473: 'Comedy|War',
 474: 'Action|Thriller',
 475: 'Drama',
 476: 'Comedy|Drama',
 477: 'Drama',
 478: 'Comedy',
 479: 'Action',
 480: 'Action|Adventure|Sci-Fi',
 481: 'Drama|Thriller',
 482: 'Thriller',
 483: 'Drama',
 484: "Adventure|Children's",
 485: 'Action|Comedy',
 486: 'Comedy',
 487: 'Comedy|Western',
 488: 'Drama',
 489: 'Comedy',
 490: 'Thriller',
 491: 'Drama',
 492: 'Comedy|Mystery',
 493: 'Action|Crime|Drama',
 494: 'Action|Thriller',
 495: 'Drama',
 496: 'Comedy|Drama|Romance',
 497: 'Comedy|Romance',
 498: 'Drama|Romance',
 499: 'Comedy|Romance',
 500: 'Comedy',
 501: 'Drama',
 502: "Action|Children's",
 503: 'Drama',
 504: 'Action|Sci-Fi',
 505: 'Comedy',
 506: 'Drama',
 507: 'Action|Drama',
 508: 'Drama',
 509: 'Drama|Romance',
 510: 'Drama',
 511: 'Action|Drama',
 512: 'Horror|Sci-Fi',
 513: 'Comedy|Mystery|Romance',
 514: 'Comedy',
 515: 'Drama',
 516: 'Comedy|Drama|War',
 517: 'Action|Drama|Mystery',
 518: 'Comedy',
 519: 'Sci-Fi|Thriller',
 520: 'Comedy',
 521: 'Crime|Thriller',
 522: 'Action|Drama',
 523: 'Drama',
 524: 'Drama',
 525: 'Drama',
 526: 'Drama',
 527: 'Drama|War',
 528: 'Drama',
 529: 'Drama',
 530: 'Drama',
 531: "Children's|Drama",
 532: 'Comedy|Crime|Horror',
 533: 'Action',
 534: 'Drama|Romance',
 535: 'Drama',
 536: 'Drama',
 537: 'Comedy|Drama',
 538: 'Drama',
 539: 'Comedy|Romance',
 540: 'Thriller',
 541: 'Film-Noir|Sci-Fi',
 542: 'Comedy',
 543: 'Comedy|Romance|Thriller',
 544: 'Action',
 545: 'Drama',
 546: "Action|Adventure|Children's|Sci-Fi",
 547: 'Action|Adventure|Thriller',
 548: 'Action',
 549: 'Documentary',
 550: 'Comedy|Romance',
 551: "Children's|Comedy|Musical",
 552: 'Action|Adventure|Comedy',
 553: 'Western',
 554: 'Thriller',
 555: 'Action|Crime|Romance',
 556: 'Documentary',
 557: 'Drama',
 558: "Action|Adventure|Animation|Children's|Fantasy",
 559: 'Comedy',
 560: 'Drama',
 561: 'Thriller',
 562: 'Comedy|Drama',
 563: 'Drama',
 564: 'Comedy',
 565: 'Horror',
 566: 'Comedy|Romance',
 567: 'Drama',
 568: 'Comedy|Drama',
 569: "Children's|Comedy",
 570: 'Comedy|Drama',
 571: 'Drama',
 572: 'Drama',
 573: 'Drama',
 574: 'Comedy|Drama',
 575: "Children's|Comedy",
 576: 'Comedy',
 577: "Adventure|Children's",
 578: 'Drama|Mystery',
 579: 'Thriller',
 580: 'Drama',
 581: 'Documentary',
 582: 'Comedy',
 583: 'Comedy|Drama',
 584: 'Drama',
 585: 'Comedy',
 586: "Children's|Comedy",
 587: 'Comedy|Romance|Thriller',
 588: "Animation|Children's|Comedy|Musical",
 589: 'Action|Sci-Fi|Thriller',
 590: 'Adventure|Drama|Western',
 591: 'Action|Drama|Thriller',
 592: 'Action|Adventure|Crime|Drama',
 593: 'Drama|Thriller',
 594: "Animation|Children's|Musical",
 595: "Animation|Children's|Musical",
 596: "Animation|Children's",
 597: 'Comedy|Romance',
 598: 'Comedy',
 599: 'Western',
 600: 'Thriller',
 601: 'Drama',
 602: 'Documentary',
 603: 'Comedy',
 604: 'Documentary',
 605: 'Drama|Romance',
 606: 'Horror',
 607: 'Drama',
 608: 'Crime|Drama|Thriller',
 609: "Adventure|Children's",
 610: 'Action|Adventure|Animation|Horror|Sci-Fi',
 611: 'Action|Horror|Sci-Fi',
 612: 'Comedy',
 613: 'Drama|Romance',
 614: 'Drama|Thriller',
 615: 'Drama',
 616: "Animation|Children's",
 617: 'Drama',
 618: 'Comedy|Romance',
 619: 'Comedy',
 620: 'Drama',
 621: 'Drama',
 623: 'Romance',
 624: 'Action|Drama|Thriller',
 625: 'Drama',
 626: 'Comedy',
 627: 'Drama|Thriller',
 628: 'Drama|Thriller',
 629: 'Drama',
 630: 'Drama|Romance',
 631: "Animation|Children's|Musical",
 632: 'War',
 633: 'Comedy',
 634: 'Comedy',
 635: 'Comedy|Drama',
 636: 'Drama',
 637: 'Comedy',
 638: 'Romance',
 639: 'Comedy',
 640: 'Drama|Thriller',
 641: 'Comedy',
 642: 'Drama',
 643: 'Comedy',
 644: 'Comedy',
 645: 'Drama',
 647: 'Drama|War',
 648: 'Action|Adventure|Mystery',
 649: 'Comedy|Drama',
 650: 'Drama',
 651: 'Comedy',
 652: 'Mystery',
 653: 'Action|Adventure|Fantasy',
 654: 'Drama|Romance',
 655: 'Comedy',
 656: 'Comedy',
 657: 'Comedy|Drama',
 658: 'Drama',
 659: 'Crime|Thriller',
 660: 'Drama',
 661: "Animation|Children's|Musical",
 662: 'Thriller',
 663: 'Comedy',
 664: 'Comedy',
 665: 'War',
 666: 'Drama',
 667: 'Action',
 668: 'Drama',
 669: 'Drama',
 670: 'Drama',
 671: 'Comedy|Sci-Fi',
 672: 'Drama',
 673: "Adventure|Animation|Children's|Comedy|Fantasy",
 674: 'Adventure|Sci-Fi',
 675: 'Action|Drama|Thriller',
 676: 'Drama',
 678: 'Drama|Thriller',
 679: 'Drama',
 680: 'Sci-Fi',
 681: 'Crime',
 682: 'Documentary|Drama',
 683: 'Documentary',
 684: 'Drama',
 685: 'Drama',
 687: 'Drama|Romance',
 688: 'Action|Adventure|Comedy|War',
 690: 'Romance',
 691: 'Comedy|Romance',
 692: 'Action|Sci-Fi|Thriller',
 693: 'Drama',
 694: 'Action',
 695: 'Mystery|Thriller',
 696: 'Thriller',
 697: 'Drama|Romance',
 698: 'Drama',
 699: 'Drama',
 700: 'Comedy',
 701: 'Drama',
 702: 'Drama',
 703: 'Drama',
 704: 'Action|Adventure',
 705: 'Comedy',
 706: 'Drama',
 707: 'Crime|Film-Noir|Thriller',
 708: 'Comedy|Romance',
 709: "Animation|Children's",
 710: 'Comedy',
 711: "Adventure|Children's",
 712: 'Drama',
 713: 'Drama',
 714: 'Western',
 715: 'Drama',
 716: 'Crime',
 717: 'Comedy',
 718: 'Comedy|Sci-Fi',
 719: 'Comedy',
 720: 'Animation',
 721: 'Drama',
 722: 'Documentary',
 723: 'Drama',
 724: 'Drama|Horror',
 725: 'Comedy',
 726: 'Drama',
 727: 'Documentary',
 728: 'Comedy',
 729: 'Drama',
 730: 'Drama',
 731: 'Mystery|Thriller',
 732: 'Crime',
 733: 'Action|Adventure|Thriller',
 734: 'Comedy',
 735: 'Comedy|Horror',
 736: 'Action|Adventure|Romance|Thriller',
 737: 'Action|Sci-Fi',
 738: 'Drama',
 739: 'Comedy',
 741: 'Animation|Sci-Fi',
 742: 'Horror|Thriller',
 743: 'Comedy',
 744: 'Drama',
 745: 'Animation|Comedy|Thriller',
 746: 'Film-Noir',
 747: 'Comedy',
 748: 'Action|Sci-Fi|Thriller',
 749: 'Drama',
 750: 'Sci-Fi|War',
 751: 'Comedy',
 752: 'Comedy|Romance',
 753: 'Comedy|Drama',
 754: "Adventure|Children's",
 755: "Children's|Drama",
 756: 'Documentary',
 757: 'Drama',
 758: 'Drama',
 759: 'Documentary',
 760: 'War',
 761: 'Adventure',
 762: 'Comedy|Crime',
 763: 'Drama',
 764: 'Drama|Romance',
 765: 'Comedy|Drama',
 766: 'Drama',
 767: 'Drama',
 768: 'Drama',
 769: 'Documentary',
 770: 'Drama',
 771: 'Comedy|Drama',
 772: 'Comedy',
 773: 'Drama',
 774: 'Drama',
 775: 'Horror',
 776: 'Comedy|Drama',
 777: 'War',
 778: 'Drama',
 779: 'Drama|Romance',
 780: 'Action|Sci-Fi|War',
 781: 'Drama',
 782: 'Thriller',
 783: "Animation|Children's|Musical",
 784: 'Comedy',
 785: 'Comedy',
 786: 'Action|Thriller',
 787: 'Documentary',
 788: 'Comedy|Fantasy|Romance|Sci-Fi',
 789: 'Drama',
 790: 'Drama',
 791: 'Documentary',
 792: 'Fantasy',
 793: 'Drama',
 794: 'Comedy|Drama',
 795: 'Drama',
 796: 'Drama',
 797: 'Comedy',
 798: 'Action|Adventure|Thriller',
 799: 'Comedy|Horror',
 800: 'Drama|Mystery',
 801: "Children's|Comedy",
 802: 'Drama|Romance',
 803: 'Romance',
 804: 'Comedy|Romance',
 805: 'Drama',
 806: 'Drama',
 807: 'Comedy|Romance',
 808: "Adventure|Children's",
 809: 'Action|Adventure',
 810: "Children's|Comedy|Fantasy",
 811: 'Comedy',
 812: 'Drama',
 813: 'Comedy',
 814: 'Drama',
 815: 'Action|Mystery|Thriller',
 816: 'Drama',
 818: 'Comedy',
 819: 'Comedy|Drama',
 820: 'Drama',
 821: 'Romance',
 822: 'Drama',
 823: 'Drama',
 824: 'Drama',
 825: 'Comedy|Romance',
 826: 'Drama',
 827: 'Drama',
 828: "Adventure|Children's",
 829: 'Comedy|Musical',
 830: 'Comedy',
 831: 'Drama',
 832: 'Drama|Thriller',
 833: 'Comedy',
 834: 'Comedy',
 835: 'Drama',
 836: 'Action|Adventure|Thriller',
 837: "Children's|Comedy",
 838: 'Comedy|Drama|Romance',
 839: 'Action|Thriller',
 840: 'Comedy',
 841: 'Horror',
 842: 'Horror',
 843: 'Drama',
 844: 'Drama',
 845: 'Drama',
 846: 'Drama',
 847: 'Comedy|Drama',
 848: 'Drama',
 849: 'Action|Adventure|Sci-Fi|Thriller',
 850: 'Crime|Drama',
 851: 'Drama',
 852: 'Comedy|Romance',
 853: 'Drama',
 854: 'Drama',
 855: 'Drama',
 856: 'Comedy',
 857: 'Drama',
 858: 'Action|Crime|Drama',
 859: 'Documentary',
 860: 'Comedy',
 861: 'Action|Thriller',
 862: 'Drama',
 863: 'Comedy',
 864: 'Comedy|Drama',
 865: 'Drama',
 866: 'Crime|Drama|Romance|Thriller',
 867: 'Comedy|Crime',
 868: 'Comedy',
 869: 'Crime',
 870: 'Comedy',
 871: 'Comedy',
 872: 'Drama',
 873: 'Drama',
 874: 'Crime|Drama',
 875: 'Drama',
 876: 'Action',
 877: 'Drama',
 878: 'Drama',
 879: 'Horror',
 880: 'Sci-Fi|Thriller',
 881: "Children's|Comedy",
 882: 'Drama|Thriller',
 884: 'Drama',
 885: "Children's|Drama|Fantasy",
 886: 'Action',
 887: 'Drama',
 888: "Animation|Children's",
 889: 'Romance',
 890: 'Thriller',
 891: 'Horror|Thriller',
 892: 'Comedy|Drama|Romance',
 893: 'Drama',
 894: 'Romance',
 895: 'Drama',
 896: 'Drama',
 897: 'Adventure|War',
 898: 'Comedy|Romance',
 899: 'Musical|Romance',
 900: 'Musical|Romance',
 901: 'Comedy|Musical',
 902: 'Drama|Romance',
 903: 'Mystery|Thriller',
 904: 'Mystery|Thriller',
 905: 'Comedy',
 906: 'Mystery|Thriller',
 907: 'Comedy|Musical|Romance',
 908: 'Drama|Thriller',
 909: 'Comedy|Drama',
 910: 'Comedy|Crime',
 911: 'Comedy|Mystery|Romance|Thriller',
 912: 'Drama|Romance|War',
 913: 'Film-Noir|Mystery',
 914: 'Musical|Romance',
 915: 'Comedy|Romance',
 916: 'Comedy|Romance',
 917: "Children's|Drama",
 918: 'Musical',
 919: "Adventure|Children's|Drama|Musical",
 920: 'Drama|Romance|War',
 921: 'Comedy',
 922: 'Film-Noir',
 923: 'Drama',
 924: 'Drama|Mystery|Sci-Fi|Thriller',
 925: 'Adventure|Romance',
 926: 'Drama',
 927: 'Comedy',
 928: 'Romance|Thriller',
 929: 'Thriller',
 930: 'Film-Noir|Romance|Thriller',
 931: 'Mystery|Romance|Thriller',
 932: 'Romance',
 933: 'Comedy|Romance|Thriller',
 934: 'Comedy',
 935: 'Comedy|Musical',
 936: 'Comedy|Romance',
 937: 'Comedy|Romance',
 938: 'Musical',
 939: 'Comedy|Drama',
 940: 'Action|Adventure',
 941: 'Adventure',
 942: 'Crime|Film-Noir|Mystery',
 943: 'Drama|Romance',
 944: 'Drama',
 945: 'Comedy|Musical|Romance',
 946: 'Comedy|Drama|War',
 947: 'Comedy',
 948: 'Drama',
 949: 'Drama',
 950: 'Mystery',
 951: 'Comedy',
 952: 'Adventure|Comedy',

In [16]:
# 복사
movie_rating = ratings.copy()
movie_rating

         user_id  movie_id  count  timestamp
0              1      1193      5  978300760
1              1       661      3  978302109
2              1       914      3  978301968
3              1      3408      4  978300275
4              1      2355      5  978824291
...          ...       ...    ...        ...
1000203     6040      1090      3  956715518
1000205     6040      1094      5  956704887
1000206     6040       562      5  956704746
1000207     6040      1096      4  956715648
1000208     6040      1097      4  956715569

[836478 rows x 4 columns]

In [17]:
# title, genre 칼럼 추가
movie_rating['title'] = np.nan
movie_rating['genre'] = np.nan
movie_rating

         user_id  movie_id  count  timestamp  title  genre
0              1      1193      5  978300760    NaN    NaN
1              1       661      3  978302109    NaN    NaN
2              1       914      3  978301968    NaN    NaN
3              1      3408      4  978300275    NaN    NaN
4              1      2355      5  978824291    NaN    NaN
...          ...       ...    ...        ...    ...    ...
1000203     6040      1090      3  956715518    NaN    NaN
1000205     6040      1094      5  956704887    NaN    NaN
1000206     6040       562      5  956704746    NaN    NaN
1000207     6040      1096      4  956715648    NaN    NaN
1000208     6040      1097      4  956715569    NaN    NaN

[836478 rows x 6 columns]

In [18]:
# title, genre 컬럼에 movie_id 넣어주기
movie_rating['title'] = movie_rating['movie_id']
movie_rating['genre'] = movie_rating['movie_id']
movie_rating

         user_id  movie_id  count  timestamp  title  genre
0              1      1193      5  978300760   1193   1193
1              1       661      3  978302109    661    661
2              1       914      3  978301968    914    914
3              1      3408      4  978300275   3408   3408
4              1      2355      5  978824291   2355   2355
...          ...       ...    ...        ...    ...    ...
1000203     6040      1090      3  956715518   1090   1090
1000205     6040      1094      5  956704887   1094   1094
1000206     6040       562      5  956704746    562    562
1000207     6040      1096      4  956715648   1096   1096
1000208     6040      1097      4  956715569   1097   1097

[836478 rows x 6 columns]

In [19]:
# map 함수를 통해서 바꿔주기
temp_title = movie_rating['title'].map(id_to_title.get).dropna()
temp_title

0          One Flew Over the Cuckoo's Nest (1975)
1                James and the Giant Peach (1996)
2                             My Fair Lady (1964)
3                          Erin Brockovich (2000)
4                            Bug's Life, A (1998)
                            ...
1000203                            Platoon (1986)
1000205                   Crying Game, The (1992)
1000206           Welcome to the Dollhouse (1995)
1000207                    Sophie's Choice (1982)
1000208         E.T. the Extra-Terrestrial (1982)
Name: title, Length: 836478, dtype: object

In [20]:
if len(temp_title) == len(movie_rating):
    movie_rating['title'] = temp_title
    print('성공!')
else:
    print('실패!')

movie_rating

성공!

,user_id,movie_id,count,timestamp,title,genre
0,1,1193,5,978300760,One Flew Over the Cuckoo's Nest (1975),1193
1,1,661,3,978302109,James and the Giant Peach (1996),661
2,1,914,3,978301968,My Fair Lady (1964),914
3,1,3408,4,978300275,Erin Brockovich (2000),3408
4,1,2355,5,978824291,"Bug's Life, A (1998)",2355
...,...,...,...,...,...,...
1000203,6040,1090,3,956715518,Platoon (1986),1090
1000205,6040,1094,5,956704887,"Crying Game, The (1992)",1094
1000206,6040,562,5,956704746,Welcome to the Dollhouse (1995),562
1000207,6040,1096,4,956715648,Sophie's Choice (1982),1096
1000208,6040,1097,4,956715569,E.T. the Extra-Terrestrial (1982),1097

In [21]:
# 같은 방법으로 genre 컬럼도 변경
temp_genre = movie_rating['genre'].map(id_to_genre.get).dropna()

if len(temp_genre) == len(movie_rating):
    movie_rating['genre'] = temp_genre
    print('성공!')
else:
    print('실패!')

movie_rating.head()

성공!

,user_id,movie_id,count,timestamp,title,genre
0,1,1193,5,978300760,One Flew Over the Cuckoo's Nest (1975),Drama
1,1,661,3,978302109,James and the Giant Peach (1996),Animation|Children's|Musical
2,1,914,3,978301968,My Fair Lady (1964),Musical|Romance
3,1,3408,4,978300275,Erin Brockovich (2000),Drama
4,1,2355,5,978824291,"Bug's Life, A (1998)",Animation|Children's|Comedy

In [22]:
cols = ['user_id', 'movie_id', 'title', 'genre', 'count', 'timestamp']
movie_rating = movie_rating[cols]
movie_rating.head()

,user_id,movie_id,title,genre,count,timestamp
0,1,1193,One Flew Over the Cuckoo's Nest (1975),Drama,5,978300760
1,1,661,James and the Giant Peach (1996),Animation|Children's|Musical,3,978302109
2,1,914,My Fair Lady (1964),Musical|Romance,3,978301968
3,1,3408,Erin Brockovich (2000),Drama,4,978300275
4,1,2355,"Bug's Life, A (1998)",Animation|Children's|Comedy,5,978824291

## 분석하기

+ ratings에 있는 유니크한 영화 개수
+ ratings에 있는 유니크한 사용자 수
+ 가장 인기 있는 영화 30개 (인기순)

In [23]:
movie_rating.head()

,user_id,movie_id,title,genre,count,timestamp
0,1,1193,One Flew Over the Cuckoo's Nest (1975),Drama,5,978300760
1,1,661,James and the Giant Peach (1996),Animation|Children's|Musical,3,978302109
2,1,914,My Fair Lady (1964),Musical|Romance,3,978301968
3,1,3408,Erin Brockovich (2000),Drama,4,978300275
4,1,2355,"Bug's Life, A (1998)",Animation|Children's|Comedy,5,978824291

In [24]:
# rating에 있는 영화 개수
ratings['movie_id'].nunique()

3628

In [25]:
# ratings에 있는 사용자 수
ratings['user_id'].nunique()

6039

In [26]:
# 가장 인기 있는 영화 30개
movie_count = ratings.groupby('movie_id')['user_id'].count()
movie_count.sort_values(ascending=False).head(30)

movie_id
2858    3211
260     2910
1196    2885
1210    2716
2028    2561
589     2509
593     2498
1198    2473
1270    2460
2571    2434
480     2413
2762    2385
608     2371
110     2314
1580    2297
527     2257
1197    2252
2396    2213
1617    2210
318     2194
858     2167
1265    2121
1097    2102
2997    2066
2716    2051
296     2030
356     2022
1240    2019
1       2000
457     1941
Name: user_id, dtype: int64

In [27]:
movie_count = movie_rating.groupby(['movie_id', 'title'])['user_id'].count()
movie_count.sort_values(ascending=False).head(60)

movie_id  title
2858      American Beauty (1999)                                   3211
260       Star Wars: Episode IV - A New Hope (1977)                2910
1196      Star Wars: Episode V - The Empire Strikes Back (1980)    2885
1210      Star Wars: Episode VI - Return of the Jedi (1983)        2716
2028      Saving Private Ryan (1998)                               2561
589       Terminator 2: Judgment Day (1991)                        2509
593       Silence of the Lambs, The (1991)                         2498
1198      Raiders of the Lost Ark (1981)                           2473
1270      Back to the Future (1985)                                2460
2571      Matrix, The (1999)                                       2434
480       Jurassic Park (1993)                                     2413
2762      Sixth Sense, The (1999)                                  2385
608       Fargo (1996)                                             2371
110       Braveheart (1995)                                        2314
1580      Men in Black (1997)                                      2297
527       Schindler's List (1993)                                  2257
1197      Princess Bride, The (1987)                               2252
2396      Shakespeare in Love (1998)                               2213
1617      L.A. Confidential (1997)                                 2210
318       Shawshank Redemption, The (1994)                         2194
858       Godfather, The (1972)                                    2167
1265      Groundhog Day (1993)                                     2121
1097      E.T. the Extra-Terrestrial (1982)                        2102
2997      Being John Malkovich (1999)                              2066
2716      Ghostbusters (1984)                                      2051
296       Pulp Fiction (1994)                                      2030
356       Forrest Gump (1994)                                      2022
1240      Terminator, The (1984)                                   2019
1         Toy Story (1995)                                         2000
457       Fugitive, The (1993)                                     1941
1214      Alien (1979)                                             1920
3578      Gladiator (2000)                                         1798
2916      Total Recall (1990)                                      1786
2628      Star Wars: Episode I - The Phantom Menace (1999)         1783
50        Usual Suspects, The (1995)                               1744
1259      Stand by Me (1986)                                       1728
541       Blade Runner (1982)                                      1722
1200      Aliens (1986)                                            1720
1193      One Flew Over the Cuckoo's Nest (1975)                   1680
919       Wizard of Oz, The (1939)                                 1650
1221      Godfather: Part II, The (1974)                           1624
912       Casablanca (1942)                                        1623
2987      Who Framed Roger Rabbit? (1988)                          1605
2355      Bug's Life, A (1998)                                     1599
1387      Jaws (1975)                                              1598
1213      GoodFellas (1990)                                        1595
1036      Die Hard (1988)                                          1593
1610      Hunt for Red October, The (1990)                         1587
2791      Airplane! (1980)                                         1586
34        Babe (1995)                                              1574
1291      Indiana Jones and the Last Crusade (1989)                1573
3175      Galaxy Quest (1999)                                      1572
924       2001: A Space Odyssey (1968)                             1568
1127      Abyss, The (1989)                                        1555
1136      Monty Python and the Holy Grail (1974)                   1532
2000      Lethal Weapon (1987)                                     1527
3114      Toy Story 2 (1999)                                       1516
1704      Good Will Hunting (1997)                                 1496
1307      When Harry Met Sally... (1989)                           1487
377       Speed (1994)                                             1442
Name: user_id, dtype: int64

In [28]:
# 어떤 장르가 인기가 많은지 알아보기
genre_count = movie_rating.groupby('genre')['user_id'].count()
genre_count.sort_values(ascending=False).head(30)

genre
Drama                               99388
Comedy                              94264
Comedy|Drama                        36871
Comedy|Romance                      35888
Drama|Romance                       24835
Action|Thriller                     22675
Drama|Thriller                      16133
Horror                              15260
Thriller                            14925
Action|Adventure|Sci-Fi             14277
Drama|War                           13766
Action|Sci-Fi|Thriller              11657
Action|Drama|War                    11316
Crime|Drama                         10960
Action|Sci-Fi                       10594
Action                               9930
Comedy|Drama|Romance                 9804
Action|Adventure                     8744
Action|Drama                         8611
Comedy|Sci-Fi                        7797
Comedy|Horror                        7523
Animation|Children's                 7461
Animation|Children's|Musical         7237
Animation|Children's|Comedy          7141
Crime|Thriller                       6713
Action|Crime|Drama                   6325
Action|Adventure|Sci-Fi|Thriller     6274
Children's|Comedy                    6203
Horror|Thriller                      6149
Drama|Romance|War                    6056
Name: user_id, dtype: int64

In [29]:
# 유저별 몇 개의 영화를 보는지에 대한 통계
user_count = ratings.groupby('user_id')['movie_id'].count()
user_count

user_id
1        53
2       116
3        46
4        19
5       143
       ...
6036    708
6037    189
6038     18
6039    119
6040    276
Name: movie_id, Length: 6039, dtype: int64

In [30]:
user_count.describe()

count    6039.000000
mean      138.512668
std       156.241599
min         1.000000
25%        38.000000
50%        81.000000
75%       177.000000
max      1968.000000
Name: movie_id, dtype: float64

In [31]:
movie_rating.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 836478 entries, 0 to 1000208
Data columns (total 6 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   user_id    836478 non-null  int64
 1   movie_id   836478 non-null  int64
 2   title      836478 non-null  object
 3   genre      836478 non-null  object
 4   count      836478 non-null  int64
 5   timestamp  836478 non-null  int64
dtypes: int64(4), object(2)
memory usage: 44.7+ MB

## 내가 선호하는 영화를 5가지 골라서 rating에 추가해주기

In [32]:
df = ratings.iloc[:,:3]
df.rename(columns={'count':'rating'}, inplace=True)
df.head()

/home/ssac28/anaconda3/envs/aiffel/lib/python3.7/site-packages/pandas/core/frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

   user_id  movie_id  rating
0        1      1193       5
1        1       661       3
2        1       914       3
3        1      3408       4
4        1      2355       5

In [33]:
# 내가 좋아하는 영화 5개
my_favorite = [1580, 356, 480, 1036, 1291]

# 'mingki'로 user_id 추가
my_list = pd.DataFrame({'user_id':[8888]*5, 'movie_id':my_favorite, 'rating':[5.0]*5})

if not df.isin({'user_id':[8888]})['user_id'].any():
    df = df.append(my_list)

df.tail(10)

         user_id  movie_id  rating
1000203     6040      1090     3.0
1000205     6040      1094     5.0
1000206     6040       562     5.0
1000207     6040      1096     4.0
1000208     6040      1097     4.0
0           8888      1580     5.0
1           8888       356     5.0
2           8888       480     5.0
3           8888      1036     5.0
4           8888      1291     5.0

In [34]:
df

    user_id  movie_id  rating
0         1      1193     5.0
1         1       661     3.0
2         1       914     3.0
3         1      3408     4.0
4         1      2355     5.0
..      ...       ...     ...
0      8888      1580     5.0
1      8888       356     5.0
2      8888       480     5.0
3      8888      1036     5.0
4      8888      1291     5.0

[836483 rows x 3 columns]

In [35]:
6040 * 3628

21913120

In [36]:
358869 * 291347

104555406543

##  CSR matrix를 직접 만들어 보기

In [37]:
df.rating

0    5.0
1    3.0
2    3.0
3    4.0
4    5.0
    ...
0    5.0
1    5.0
2    5.0
3    5.0
4    5.0
Name: rating, Length: 836483, dtype: float64

In [38]:
# CSR Matrix 만들어보기
from scipy.sparse import csr_matrix

num_user = df['user_id'].nunique()
num_movie = df['movie_id'].nunique()
print(num_user, num_movie, '\n')

csr_data = csr_matrix((df.rating, (df.user_id, df.movie_id)))
print(csr_data)

6040 3628

  (1, 1)	5.0
  (1, 48)	5.0
  (1, 150)	5.0
  (1, 260)	4.0
  (1, 527)	5.0
  (1, 531)	4.0
  (1, 588)	4.0
  (1, 594)	4.0
  (1, 595)	5.0
  (1, 608)	4.0
  (1, 661)	3.0
  (1, 720)	3.0
  (1, 745)	3.0
  (1, 783)	4.0
  (1, 914)	3.0
  (1, 919)	4.0
  (1, 938)	4.0
  (1, 1022)	5.0
  (1, 1028)	5.0
  (1, 1029)	5.0
  (1, 1035)	5.0
  (1, 1097)	4.0
  (1, 1193)	5.0
  (1, 1197)	3.0
  (1, 1207)	4.0
  :	:
  (6040, 3334)	5.0
  (6040, 3342)	3.0
  (6040, 3359)	4.0
  (6040, 3362)	4.0
  (6040, 3418)	3.0
  (6040, 3421)	3.0
  (6040, 3422)	3.0
  (6040, 3449)	3.0
  (6040, 3471)	4.0
  (6040, 3504)	4.0
  (6040, 3505)	4.0
  (6040, 3521)	5.0
  (6040, 3543)	4.0
  (6040, 3547)	4.0
  (6040, 3671)	4.0
  (6040, 3683)	4.0
  (6040, 3703)	4.0
  (6040, 3735)	4.0
  (6040, 3751)	4.0
  (6040, 3819)	5.0
  (8888, 356)	5.0
  (8888, 480)	5.0
  (8888, 1036)	5.0
  (8888, 1291)	5.0
  (8888, 1580)	5.0

## als_model = AlternatingLeastSquares 모델을 직접 구성하여 훈련시켜 보기

In [39]:
from implicit.als import AlternatingLeastSquares
import os
import numpy as np

# implicit 라이브러리에서 권장하고 있는 부분입니다.
os.environ['OPENBLAS_NUM_THREADS']='1'
os.environ['KMP_DUPLICATE_LIB_OK']='True'
os.environ['MKL_NUM_THREADS']='1'

In [40]:
# Implicit AlternatingLeastSquares 모델의 선언
als_model = AlternatingLeastSquares(factors=100, regularization=0.01, use_gpu=False, iterations=15, dtype=np.float32)

In [41]:
# als 모델은 input으로 (item X user 꼴의 matrix를 받기 때문에 Transpose해줍니다.)
csr_data_transpose = csr_data.T
csr_data_transpose

<3953x8889 sparse matrix of type '<class 'numpy.float64'>'
	with 836483 stored elements in Compressed Sparse Column format>

In [42]:
# 모델 훈련
als_model.fit(csr_data_transpose)

  0%|          | 0/15 [00:00<?, ?it/s]

## 내가 선호하는 5가지 영화 중 하나와 그 외의 영화 하나를 골라 훈련된 모델이 예측한 나의 선호도를 파악하기

In [43]:
mingki_vector, forrestgump_vector = als_model.user_factors[8888], als_model.item_factors[356]

In [44]:
mingki_vector

array([ 0.37065783, -0.03345272, -0.00458111,  1.1383675 , -0.46524522,
        0.47041708, -0.4569942 , -0.380851  ,  0.4832071 , -0.718122  ,
        0.49874586,  0.00602309, -0.69065636,  0.37721258, -0.9049285 ,
        0.37992612, -0.3343536 ,  0.3272468 , -0.37698638, -0.36300144,
       -0.18813644,  0.20948054,  0.18477139, -0.49628007, -0.49483985,
       -0.01232571,  0.27562788, -0.15541995,  0.02459669, -0.23707287,
       -0.13181092, -1.0157173 ,  0.39880326, -1.4131066 ,  0.80961645,
        0.36378175,  0.88904655, -0.27379867,  0.5250752 ,  0.1645251 ,
        0.22862995, -0.64513224, -0.5659081 , -0.48709294,  0.57107174,
       -0.5455079 ,  0.12204058,  0.31436384,  0.49580964, -0.08207404,
        0.23958665,  0.3306867 , -0.35140443,  0.04164039,  0.49977747,
        0.36984515,  0.34296936,  0.71977955,  0.2754863 ,  0.09362213,
       -0.53624547, -1.0913013 ,  0.27658328, -0.04387179, -0.45592368,
       -0.2545261 ,  0.8633382 , -0.81415695, -0.29199237, -0.23520954,
        0.18795832,  0.6121264 ,  0.30967158, -0.21343224, -0.4682917 ,
        0.6034133 , -1.0368977 ,  0.02910301, -0.6065883 , -0.4157507 ,
        0.06847501,  0.21486466,  1.2486924 ,  0.8088589 ,  0.29051882,
        0.46507296, -0.00213599, -0.11318709,  0.65058833,  0.7794313 ,
        0.7751816 ,  0.38412103,  0.5855284 ,  0.32582587, -0.50390416,
       -0.04168731,  0.31742418, -1.1198702 , -0.50459224, -0.1540196 ],
      dtype=float32)

In [45]:
forrestgump_vector

array([ 0.02735701,  0.02076961,  0.00267059,  0.04129941, -0.00990398,
        0.00299409, -0.00530819, -0.019352  , -0.02325912, -0.02260712,
        0.01070325, -0.0010095 , -0.01604393, -0.0240071 , -0.02449034,
        0.02678454,  0.00475091,  0.03586138, -0.01193898,  0.00533798,
        0.02894232,  0.01832422,  0.05189501,  0.01681719, -0.03420461,
       -0.03056174,  0.00572578,  0.03351824,  0.02746911, -0.01161645,
        0.02314974, -0.01174224,  0.01387261, -0.01227738,  0.01716176,
        0.0107272 ,  0.03383746,  0.00556716,  0.01106093,  0.02828026,
       -0.01967816, -0.0322133 ,  0.01198172,  0.00886814,  0.01960147,
       -0.00577896, -0.00564067,  0.01049535,  0.03469272,  0.02022273,
       -0.0156625 ,  0.01226945, -0.01761288,  0.02452688,  0.03396979,
        0.03272346,  0.01797841, -0.00812789,  0.01807939,  0.03653699,
        0.01572174,  0.00283822,  0.02904576, -0.01817846, -0.02252039,
        0.01828271,  0.01151297, -0.03137381, -0.00592867,  0.00807655,
       -0.00369554,  0.03288066,  0.00192204,  0.00566336, -0.01713333,
        0.036235  , -0.02972561,  0.01843145, -0.01842226, -0.0137975 ,
        0.04136144,  0.00987063,  0.04514557,  0.01083849,  0.0204367 ,
        0.04901192,  0.00790807,  0.00656361,  0.03969878,  0.03441912,
        0.00664242,  0.00044919, -0.02137779, -0.00898825, -0.00838732,
       -0.01349021, -0.01205735, -0.0135419 , -0.00492095,  0.02863946],
      dtype=float32)

In [46]:
# mingki와 forrest gump가 내적하는 코드
np.dot(mingki_vector, forrestgump_vector)

0.6079663

In [47]:
# 다른 영화에 대한 선호도를 어떻게 예측하는지 확인하기
# 스타워즈
starwars = 260
starwars_vector = als_model.item_factors[starwars]
print(np.dot(mingki_vector, starwars_vector))

# 굿윌헌팅
goodwillhunting = 1704
goodwillhunting_vector = als_model.item_factors[goodwillhunting]
print(np.dot(mingki_vector, goodwillhunting_vector))

0.2839272
0.076229066

## 내가 좋아하는 영화와 비슷한 영화를 추천받아 보기

In [48]:
# 포레스트 검프
favorite_movie = 356
similar_movie = als_model.similar_items(favorite_movie, N=15)
similar_movie

[(356, 1.0),
 (1265, 0.5730348),
 (1784, 0.4737288),
 (539, 0.45165074),
 (597, 0.43244815),
 (587, 0.43054715),
 (985, 0.39602616),
 (39, 0.39024672),
 (1393, 0.38333243),
 (1777, 0.37734205),
 (1316, 0.3739293),
 (1408, 0.36922762),
 (357, 0.36734122),
 (2321, 0.3666896),
 (3353, 0.36569732)]

In [49]:
[id_to_title[i[0]] for i in similar_movie]

['Forrest Gump (1994)',
 'Groundhog Day (1993)',
 'As Good As It Gets (1997)',
 'Sleepless in Seattle (1993)',
 'Pretty Woman (1990)',
 'Ghost (1990)',
 'Small Wonders (1996)',
 'Clueless (1995)',
 'Jerry Maguire (1996)',
 'Wedding Singer, The (1998)',
 'Anna (1996)',
 'Last of the Mohicans, The (1992)',
 'Four Weddings and a Funeral (1994)',
 'Pleasantville (1998)',
 'Closer You Get, The (2000)']

In [50]:
# 함수 만들기
def get_similar_movie(movie_id):
    similar_movie = als_model.similar_items(movie_id)
    similar_movie = [id_to_title[i[0]] for i in similar_movie]
    return similar_movie
print('굿')

굿

In [51]:
# 맨 인 블랙 : 1580
get_similar_movie(1580)

['Men in Black (1997)',
 'Jurassic Park (1993)',
 'Terminator 2: Judgment Day (1991)',
 'Total Recall (1990)',
 'Independence Day (ID4) (1996)',
 'Fifth Element, The (1997)',
 'Matrix, The (1999)',
 'Schlafes Bruder (Brother of Sleep) (1995)',
 'Face/Off (1997)',
 'Lost World: Jurassic Park, The (1997)']

## 내가 가장 좋아할 만한 영화들을 추천받아 보기

In [52]:
user = 8888 # 내 유저 아이디

movie_recommended = als_model.recommend(user, csr_data, N=20, filter_already_liked_items=True)
movie_recommended

[(1198, 0.4803306),
 (589, 0.4537575),
 (1210, 0.39226618),
 (110, 0.37464428),
 (2916, 0.35299447),
 (457, 0.31105977),
 (2571, 0.3083403),
 (377, 0.2977932),
 (1240, 0.2955552),
 (1196, 0.29035467),
 (260, 0.2839272),
 (1610, 0.2830892),
 (592, 0.27578875),
 (2115, 0.26413542),
 (1270, 0.25676036),
 (1408, 0.23910055),
 (590, 0.21984333),
 (1259, 0.21845275),
 (1127, 0.21637642),
 (2028, 0.2107422)]

In [53]:
[id_to_title[i[0]] for i in movie_recommended]

['Raiders of the Lost Ark (1981)',
 'Terminator 2: Judgment Day (1991)',
 'Star Wars: Episode VI - Return of the Jedi (1983)',
 'Braveheart (1995)',
 'Total Recall (1990)',
 'Fugitive, The (1993)',
 'Matrix, The (1999)',
 'Speed (1994)',
 'Terminator, The (1984)',
 'Star Wars: Episode V - The Empire Strikes Back (1980)',
 'Star Wars: Episode IV - A New Hope (1977)',
 'Hunt for Red October, The (1990)',
 'Batman (1989)',
 'Indiana Jones and the Temple of Doom (1984)',
 'Back to the Future (1985)',
 'Last of the Mohicans, The (1992)',
 'Dances with Wolves (1990)',
 'Stand by Me (1986)',
 'Abyss, The (1989)',
 'Saving Private Ryan (1998)']

In [54]:
# 왜 터미네이터를 추천했을까 확인해보기
# 터미네이터  : 589
explain = als_model.explain(user, csr_data, itemid=589)

In [55]:
explain

(0.44687684978082476,
 [(480, 0.21443864627355808),
  (1580, 0.16233399874639579),
  (1036, 0.09857772951226113),
  (356, -0.011594172076334853),
  (1291, -0.016879352675055397)],
 (array([[ 6.33665887e-01,  1.34250997e-01,  1.33823211e-01, ...,
           1.11876588e-01,  8.74169026e-02,  1.19637916e-01],
         [ 8.50702772e-02,  5.87668676e-01,  1.27140427e-01, ...,
           9.79329169e-02,  5.80720171e-02,  8.05464687e-02],
         [ 8.47992036e-02,  9.26823461e-02,  5.90822312e-01, ...,
           5.89483276e-02,  1.08586398e-01,  7.56840450e-02],
         ...,
         [ 7.08923774e-02,  7.25716511e-02,  6.22509044e-02, ...,
           5.29650795e-01, -6.58283753e-03,  2.21451514e-04],
         [ 5.53931091e-02,  4.58629118e-02,  8.32369784e-02, ...,
           5.51847433e-02,  5.26307866e-01,  1.02678717e-02],
         [ 7.58104661e-02,  6.33961462e-02,  7.09668649e-02, ...,
           7.40811681e-02,  6.29197354e-02,  5.39651082e-01]]),
  False))

+ 0번 인덱스 : 추천 지수
+ 1번 인덱스 : 다른 콘텐츠의 기여도
+ 2번 인덱스 : 벡터

In [56]:
[(id_to_title[i[0]], i[1]) for i in explain[1]]

[('Jurassic Park (1993)', 0.21443864627355808),
 ('Men in Black (1997)', 0.16233399874639579),
 ('Die Hard (1988)', 0.09857772951226113),
 ('Forrest Gump (1994)', -0.011594172076334853),
 ('Indiana Jones and the Last Crusade (1989)', -0.016879352675055397)]

## 마치며

추천 시스템에 대해 전반적으로 이해력이 올라갔다!

새로운 개념들에 대해서도 배웠으며(csr_matrix, AlternatingLeastSquares 모델 등) 우리가 사용하는 넷플릭스나 멜론 등 다양한 곳들에서 어떤 방식으로 추천 시스템을 구성하고 또 작동하는지 깊이 있게는 아니지만 조금은 알게 되었다.

해봤던 것들 중에 가장 흥미가 있었고, 하면서도 내내 즐거웠었다.

아쉬웠던, 조금 더 배우고 싶었던 것을 고르라면 csr_matrix에 대해서 어떤 방식으로 작동하는지 이해하기가 조금은 어려웠다. 어떻게 어떻게 코드를 짜서 실행은 됐지만 이게 왜 실행되는지 잘 이해가 안된 느낌. 다음에 또 기회가 있다면 더 멋진 추천 시스템을 구현해보고 싶다.