# 11. 가랏, 몬스터볼! 전설의 포켓몬 찾아 삼만리

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#시작하며" data-toc-modified-id="시작하며-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>시작하며</a></span><ul class="toc-item"><li><span><a href="#학습-목표" data-toc-modified-id="학습-목표-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>학습 목표</a></span></li></ul></li><li><span><a href="#안녕,-포켓몬과-인사해!" data-toc-modified-id="안녕,-포켓몬과-인사해!-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>안녕, 포켓몬과 인사해!</a></span><ul class="toc-item"><li><span><a href="#전설의-포켓몬?" data-toc-modified-id="전설의-포켓몬?-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>전설의 포켓몬?</a></span><ul class="toc-item"><li><span><a href="#전설의-포켓몬-구별하기" data-toc-modified-id="전설의-포켓몬-구별하기-2.1.1"><span class="toc-item-num">2.1.1&nbsp;&nbsp;</span><strong>전설의 포켓몬 구별하기</strong></a></span></li></ul></li></ul></li><li><span><a href="#포켓몬,-그-데이터는-어디서-구할까?" data-toc-modified-id="포켓몬,-그-데이터는-어디서-구할까?-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>포켓몬, 그 데이터는 어디서 구할까?</a></span></li><li><span><a href="#포켓몬-데이터-불러오기" data-toc-modified-id="포켓몬-데이터-불러오기-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>포켓몬 데이터 불러오기</a></span><ul class="toc-item"><li><span><a href="#라이브러리-가져오기" data-toc-modified-id="라이브러리-가져오기-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>라이브러리 가져오기</a></span></li><li><span><a href="#데이터셋을-pandas로-불러오기" data-toc-modified-id="데이터셋을-pandas로-불러오기-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span>데이터셋을 pandas로 불러오기</a></span></li></ul></li></ul></div>

## 시작하며

### 학습 목표

---

+ 다양한 피쳐가 있는 데이터셋을 밑바닥부터 샅샅이 뜯어보고, 전설의 포켓몬을 분류하기 위한 피쳐에는 무엇이 있는지 생각해본다.
+ 모델 학습을 시작하기 전 모든 컬럼에 대해 그래프 시각화, 피벗 테이블 등을 활용하며 다양한 방법으로 충분한 EDA를 진행한다.
+ 모델 학습에 넣기 위해서 전처리가 필요한 범주형/문자열 데이터에 대한 전처리를 원-핫 인코딩 등으로 적절하게 진행한다.
+ 전체 데이터셋을 train/test 데이터셋으로 나누고, 적절한 분류 모델(Decision Tree)을 선택해 학습시키며 베이스라인과 비교해본다.

## 안녕, 포켓몬과 인사해!

안녕하세요!

혹시 포켓몬스터라는 애니메이션을 아시나요? 이미 꽤 오래되었지만, 한때 만화뿐만 아니라 게임으로도 굉장히 많은 인기를 얻었던 애니메이션입니다.
혹시 모르는 분들을 위해 간단히 소개해드리죠.

저는 포켓몬이라고 하면 피카츄, 이상해씨, 파이리, 꼬부기가 가장 먼저 떠오릅니다.
저 친구들은 포켓몬스터 1기에서 가장 메인으로 활동했던 아이들인데,
이 콘텐츠를 보시고 계실 여러분은 몇 기의 포켓몬들이 가장 익숙하실지 모르겠군요.
(작성자의 연배를 알 수 있는 대목인가요.. 😂)

포켓몬이란 말 그대로 포켓(주머니)에 넣어서 데리고 다닐 수 있는 몬스터로, 그 생김새나 속성이 아주 다양합니다.
가장 많이 등장하는 네 마리의 포켓몬만 해도 피카츄는 전기, 이상해씨는 풀, 파이리는 불, 꼬부기는 물 속성의 포켓몬들이죠.

실제로 포켓몬들을 주머니에 넣어 다니지는 않고, 😅 포켓몬은 빨간색과 흰색으로 디자인된 몬스터볼에 들어갈 수 있습니다.

지우는 항상 몬스터볼을 던질 때 "가랏, 몬스터볼! 넌 내꺼야!" 라고 합니다. 🤣🤣🤣

### 전설의 포켓몬?

---

포켓몬 세상에는 당연히! 보스급이라고 할 수도 있고, 신비의 존재라고 할 수도 있는 "전설의 포켓몬"이 존재합니다.
전설의 포켓몬은 말 그대로 전설적으로 내려오는 존재라 그 모습을 쉽게 볼 수도 없고, 실제로 존재하는지도 직접 보기 전에는 알 수 없는 그런 존재입니다.

포켓몬스터 1기에서 가장 신비로웠던 전설의 포켓몬은 바로 칠색조입니다.
칠색조가 날개짓을 하면 무지개가 뜬다나 뭐라나.. (믿거나 말거나 🤣)

물론 전설의 포켓몬은 이 외에도 다양합니다. 일반 포켓몬보다는 당연히 그 종류가 훨씬 적지만요!

#### **전설의 포켓몬 구별하기**

자, 그러면 오늘은 흥미로운 포켓몬 데이터셋을 가지고 실습을 해 보겠습니다.
포켓몬의 이름, 속성, 또는 공격력이나 방어력 등과 같은 스탯 값만을 가지고 전설의 포켓몬인지 아닌지를 구별해낼 수 있을까요?

오늘은 이러한 분류 문제를 풀기 위해 데이터를 밑바닥부터 샅샅이 뜯어보는 연습을 할 것입니다.
이러한 과정을 **탐색적 데이터 분석(Exploratory Data Analysis, 이하 EDA)** 라고 합니다.
EDA는 더 좋은 데이터 분석과 더 좋은 머신러닝 모델을 만들기 위해 필수적인 과정입니다.

더욱 의미 있는, 그리고 더 나은 성능의 모델을 만들어내기 위해서는 무엇을 고민해야 하는지, 그 흐름을 한번 따라와 보시길 바랍니다!
이러한 흐름에 익숙해진다면 어떤 데이터셋을 만나더라도 충분히 빠르고 치밀하게 데이터셋을 다룰 수 있게 될 것입니다.

바로 한번, 시작해 보시죠!

## 포켓몬, 그 데이터는 어디서 구할까?

자, 포켓몬의 특성을 이용해서 전설의 포켓몬을 구별해내기 프로젝트, 바로 시작해 보겠습니다.

가장 먼저 필요한 것은 무엇인가요?! 🤔

네, 당연히 포켓몬 데이터셋이겠죠! 데이터셋을 구해 보겠습니다.

우리는 캐글(Kaggle)이라는 데이터분석 경진대회 사이트에 올라와 있는 데이터셋을 활용할 예정입니다. 다음 링크로 들어가서 포켓몬 데이터셋을 한번 구경해 보죠.

+ [[캐글] Pokemon with stats](https://www.kaggle.com/abcsds/pokemon)

다음과 같은 화면이 뜨셨다면 성공입니다!

![img1](./img/img1.png)

다음 화면은 캐글에 업로드되어있는 *"Pokemon with stats"* 라는 데이터셋 페이지입니다.
캐글은 데이터 분석 경진대회뿐만 아니라 다양한 데이터셋도 구할 수 있는 좋은 장소기 때문에 익숙해지는 것이 좋습니다.

아직 계정이 없으시다면 이참에 회원가입을 해보시는 것도 좋겠습니다.

위 화면에서 보면 `Description` 이라는 곳에 다양한 설명이 쓰여 있습니다.
한번 읽어보고, 다음 퀴즈에 대한 답을 적어봅시다.

네, 데이터셋에 대한 간단한 감이 오시나요?
데이터를 다루는 작업을 할 때는 어떤 데이터든 처음에 이렇게 간략하게라도 꼭 데이터셋을 이해하고 시작하는 것이 중요합니다.

그러면 이제 데이터셋을 사용하기 위해 다운로드받아보겠습니다. 위 화면에서 `Download(43KB)` 버튼을 눌러주세요. 데이터가 크지 않기 때문에 금방 다운로드가 됩니다.

다만, 데이터가 zip으로 압축된 상태로 다운로드된 것을 확인할 수 있습니다.
압축은 터미널에서 파일이 설치된 위치로 이동한 다음, 다음 명령어로 아주 간단히 풀어줄 수 있습니다.

## 포켓몬 데이터 불러오기

### 라이브러리 가져오기

---

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
%config InlineBackend.figure_format = 'retina'
print('슝=3')

슝=3

자, 우리가 앞으로 쓸 라이브러리들을 한번에 가져와 봤습니다.

간단히 소개해드리죠.

+ `numpy`와 `pandas`는 1차원 또는 2차원 형식의 표 데이터를 다루기에 최적화된 라이브러리입니다.
+ `seaborn`과 `matplotlib` 은 데이터를 그래프 등으로 시각화할 때 쓰이죠. 특히, seaborn은 matplotlib의 상위 버전으로, matplotlib이 조금 더 단순하지만 raw한 느낌이라면, seaborn은 보다 고급화된 그래프를 그릴 수 있습니다.

아직 익숙하지 않아도 괜찮습니다. 앞으로 쓰면서 자연스럽게 익히게 될 테니, 일단 시작해 보죠!

### 데이터셋을 pandas로 불러오기

---

이제 데이터셋을 `pandas`로 읽어와 보겠습니다.

우리가 아까 압축을 풀어 저장했던 `Pokemon.csv` 파일이 현재 코드를 실행하는 파일의 위치와 같은 경로에 있어야 다음 코드가 실행됩니다.

혹시 다른 경로에 있다면 "Pokemon.csv" 부분을 해당 경로에 맞게 수정해주세요!

In [2]:
import os
csv_path = os.getenv("HOME") +"/aiffel/pokemon_eda/data/Pokemon.csv"
original_data = pd.read_csv(csv_path)

위 코드가 문제없이 실행되었다면 우리의 포켓몬 데이터는 `original_data`에 무사히 저장된 것입니다!

다만, 우리는 `original_data` 변수를 그대로 사용하지 않고 원본 데이터를 담은 변수는 고이 놔둘 것입니다.
다음과 같이 원본 데이터를 복사해서 `pokemon`이라는 변수를 새로 만들어 사용할 것이죠.

이렇게 하는 이유는, 우리가 데이터를 다루면서 데이터셋에 다양한 작업을 할 것이기 때문에 원본 데이터는 훼손하지 않고 놔두기 위함입니다. 꼭 필요한 과정은 아니지만, 이렇게 원본 데이터를 메모리 상에 따로 두는 습관은 다양한 데이터 작업을 할 때 때때로 도움이 됩니다.

다음 코드로 `pokemon` 변수에 데이터를 저장하고, pandas로 데이터를 나타내 볼까요!

In [3]:
pokemon = original_data.copy()
print(pokemon.shape)
pokemon.head()

(800, 13)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

위에서 print(pokemon.shape)로 데이터셋의 크기를 출력하였습니다.
데이터셋은 총 800행, 13열로 이루어져 있군요.
포켓몬이 총 800마리이고, 각 포켓몬을 설명하는 특성(feature)은 13개라고 해석할 수 있겠습니다.

이 중 우리가 타겟으로 두고 확인할 데이터는 `Legendary (전설의 포켓몬인지 아닌지의 여부)` 이므로, `Legendary == True` 값을 가지는 레전드 포켓몬 데이터셋은 `legendary` 변수에, `Legendary == False`값을 가지는 일반 포켓몬 데이터셋은 `ordinary` 변수에 저장해두겠습니다.

In [4]:
# 전설의 포켓몬 데이터셋
legendary = pokemon[pokemon["Legendary"] == True].reset_index(drop=True)
print(legendary.shape)
legendary.head()

(65, 13)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,144,Articuno,Ice,Flying,580,90,85,100,95,125,85,1,True
1,145,Zapdos,Electric,Flying,580,90,90,85,125,90,100,1,True
2,146,Moltres,Fire,Flying,580,90,100,90,125,85,90,1,True
3,150,Mewtwo,Psychic,NaN,680,106,110,90,154,90,130,1,True
4,150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True

In [5]:
# 일반 포켓몬 데이터셋
ordinary = pokemon[pokemon["Legendary"] == False].reset_index(drop=True)
print(ordinary.shape)
ordinary.head()

(735, 13)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

800개 중 65개의 데이터만 전설의 포켓몬이군요! 역시나 희귀합니다!

이건 아주 귀하군요.